<div class="navigation">

{% if site.phase <= 8 %}

{% assign navigation_items_count = 5 %}
{% if site.phase >= 4 %}
  {% assign navigation_items_count = 6 %}
{% endif %}
{% if site.phase >= 5 %}
  {% assign navigation_items_count = 7 %}
{% endif %}
{% if site.phase >= 8 %}
  {% assign navigation_items_count = 8 %}
{% endif %}
<ul class="has-{{ navigation_items_count }}-items">
  <li><a href="/about/">About</a></li>
  <li><a href="/submit/">Submit</a></li>
  <li><a href="/vote/">Vote</a></li>
  {% if site.phase >= 4 %}
  <li><a href="/entries/" id="entries-navigation-item">Entries</a></li>
  {% endif %}
  {% if site.phase >= 5 %}
  <li><a href="/finalists/" id="finalists-navigation-item">Finalists</a></li>
  {% endif %}
  {% if site.phase >= 8 %}
  <li><a href="/winners/">Winners</a></li>
  {% endif %}
  <li><a href="/timeline/">Timeline</a></li>
  <li><a href="/faqs/"><abbr title="Frequently Asked Questions">FAQs</abbr></a></li>
</ul>
<script>
(function() {
  var links, random;

  var categories = [
    'learn',
    'create',
    'play',
    'connect',
    'live'
  ];

  links = document.querySelectorAll('.navigation a[href="/entries/"]');
  random = Math.floor(Math.random() * categories.length) + 0;
  links.forEach(function(link) {
    link.setAttribute('href', '/' + categories[random] + '/');
  })

  links = document.querySelectorAll('.navigation a[href="/finalists/"]');
  random = Math.floor(Math.random() * categories.length) + 0;
  links.forEach(function(link) {
    link.setAttribute('href', '/' + categories[random] + '/finalists/');
  })
})();
</script>
{% else %}

<ul>
  <li><a href="/about/">About</a></li>
  <li><a href="/about/#goals">Goals</a></li>
  {% if site.event_url %}
  <li><a href="/event/">Event</a></li>
  {% endif %}
  <li><a href="/timeline/">Timeline</a></li>
  <li><a href="/faqs/"><abbr title="Frequently Asked Questions">FAQs</abbr></a></li>
</ul>

<ul class="primary">

  {% if site.phase == 2 %}
  <li><strong><a href="/submit/">Submit</a></strong></li>
  {% else %}
  <li><a href="/submit/">Submit</a></li>
  {% endif %}

  {% if site.phase == 6 %}
  <li><strong><a href="/vote/">Vote</a></strong></li>
  {% else %}
  <li><a href="/vote/">Vote</a></li>
  {% endif %}

  {% if site.phase == 4 %}
  <li><strong><a href="/entries/">Entries</a></strong></li>
  {% elsif site.phase > 4 %}
  <li><a href="/entries/">Entries</a></li>
  {% endif %}

  {% if site.phase == 5 %}
  <li><strong><a href="/finalists/">Finalists</a></strong></li>
  {% elsif site.phase > 5 %}
  <li><a href="/finalists/">Finalists</a></li>
  {% endif %}

  {% if site.phase >=8 %}
  <li><strong><a href="/winners/">Winners</a></strong></li>
  {% endif %}

</ul>

{% endif %}

</div>
