{% if site.phase == 1 %}

      <p>
        Starting <strong>March 1, 2018</strong>, <span class="avoid-break">you can <a class="avoid-break" href="/submit/">submit your big idea.</a></span><br />
        Voting begins on
        <span class="avoid-break">
          <strong>June 19, 2018</strong>.
        </span>
      </p>

{% elsif site.phase == 2 %}

      <p>
        The submission period has started!
        <span class="avoid-break">Apply by <strong>March 30, 2018.</strong></span>
        <small>
          Voting begins on
          <span class="avoid-break">
            <strong>June 19, 2018.</strong>
          </span>
        </small>
      </p>

{% elsif site.phase == 3 %}

      <p>
        The submission period is complete.
        <span class="avoid-break">Entries will be showcased here on <strong>April 9, 2018</strong>.</span>
      </p>

{% elsif site.phase == 4 %}

      <p>
        <span class="avoid-break">Finalists will be announced on <strong class="avoid-break">May 21, 2018.</strong></span>
        <small class="avoid-break">
        Voting begins on
        <span class="avoid-break">
          <strong>June 19, 2018</strong>.
        </span>
        </small>
      </p>

{% elsif site.phase == 5 %}

      <p>
        {% if site.event_url %}
        <span class="avoid-break">
          Vote at the <strong style=""><a href="/event/">public event</a></strong> on <strong>June 19, 2018</strong>.
        </span>
        {% else %}
        The <a href="/finalists/">finalists</a> have been announced!
        <span class="avoid-break">
          Voting begins on
          <span class="avoid-break">
            <strong>June 19, 2018</strong>.
          </span>
        </span>
        {% endif %}
      </p>

{% elsif site.phase == 6 %}

      <p>Public voting has started! <a href="/finalists/">Check out the finalists</a>, and vote by <strong>June 29, 2018</strong>.</p>

      <p class="action">
        <a href="{{ site.vote_url }}">I’m ready to vote</a>
      </p>

{% elsif site.phase == 7 %}

      <p>
        Public voting is complete.
        <span class="avoid-break">
          Winners will be announced on 
          <span class="avoid-break">
            <strong>July 9, 2018</strong>.
          </span>
        </span>
      </p>

{% elsif site.phase == 8 %}

      <!--
      <p>
        The <a href="/winners/">winners</a> have been announced.
        Thank you to everyone who participated!
      </p>
      -->


      <!--
      <p>
        <a href="https://la2050.org/#learnmore">LA2050</a> is an initiative driving and tracking progress toward a <a href="https://la2050.org/#learnmore">shared vision</a> for the future of Los Angeles.
      </p>
      -->

      <p>
        The activation challenge is part of the greater <a href="https://la2050.org/#homehero">LA2050 initiative</a>.
        <small>We’re working to move Los Angeles toward <a href="https://la2050.org/#learnmore">five goals</a>.</small>
      </p>

      <p class="la2050" style="display: none;">
        Visit <a href="https://la2050.org/">la2050.org</a> for jobs, events, and news from the world of impact.
        <!--
        <a href="https://la2050.org/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 10" width="45" height="10" style="width: 4.5em; height: 1.5em; vertical-align:  middle;">
            <switch>
              <g>
                <path d="M0.8,9.2V0.7h2.1v6.7h3.3v1.8H0.8z"/>
                <path d="M12.6,9.2l-0.7-1.7H8.7L8.1,9.2H5.8l3.6-8.5h2l3.5,8.5H12.6z M10.4,3L9.3,5.9h2.1L10.4,3z"/>
                <path d="M15.3,9.2V7.5l3.3-3c0.2-0.2,0.4-0.4,0.5-0.6c0.1-0.2,0.2-0.4,0.2-0.7S19.2,2.7,19,2.5c-0.2-0.2-0.4-0.3-0.8-0.3
                  c-0.3,0-0.6,0.1-0.8,0.4c-0.2,0.2-0.3,0.5-0.4,0.9l-1.9-0.3c0-0.4,0.2-0.8,0.4-1.2c0.2-0.3,0.4-0.6,0.7-0.9c0.3-0.2,0.6-0.4,1-0.5
                  c0.4,0,0.8-0.1,1.2-0.1s0.8,0.1,1.1,0.2c0.4,0.1,0.7,0.3,1,0.5S21,1.7,21.2,2s0.3,0.7,0.3,1.2c0,0.3,0,0.6-0.1,0.8
                  s-0.2,0.5-0.3,0.7s-0.3,0.4-0.5,0.6S20.2,5.7,20,5.8l-2,1.8h3.5v1.8h-6.2V9.2z"/>
                <path d="M29.2,5c0,0.6-0.1,1.2-0.2,1.7s-0.3,1-0.6,1.4c-0.3,0.4-0.6,0.7-1,1c-0.4,0.2-0.9,0.4-1.5,0.4s-1.1-0.1-1.5-0.4
                  c-0.4-0.2-0.8-0.6-1-1c-0.3-0.4-0.5-0.9-0.6-1.4S22.6,5.6,22.6,5s0.1-1.2,0.2-1.7s0.3-1,0.6-1.4c0.3-0.4,0.6-0.7,1-1
                  s0.9-0.4,1.5-0.4s1.1,0.1,1.5,0.4c0.4,0.2,0.8,0.6,1,1c0.3,0.4,0.5,0.9,0.6,1.4C29.2,3.8,29.2,4.4,29.2,5z M27.2,5
                  c0-0.3,0-0.6,0-0.9S27.1,3.5,27,3.2s-0.3-0.5-0.5-0.7c-0.2-0.2-0.4-0.3-0.6-0.3c-0.3,0-0.5,0.1-0.6,0.3c-0.2,0.2-0.3,0.4-0.4,0.7
                  s-0.2,0.6-0.2,0.9s0,0.6,0,0.9s0,0.6,0,0.9s0.1,0.6,0.2,0.8C25,7,25.1,7.2,25.3,7.4c0.2,0.2,0.4,0.3,0.6,0.3c0.3,0,0.5-0.1,0.6-0.3
                  c0.2-0.2,0.3-0.4,0.4-0.7C27,6.4,27,6.1,27.1,5.8S27.2,5.2,27.2,5z"/>
                <path d="M36.5,6.4c0,0.5-0.1,1-0.3,1.3c-0.1,0.4-0.4,0.8-0.7,1s-0.7,0.4-1,0.6s-0.8,0.2-1.3,0.2c-0.4,0-0.8,0-1.1-0.1
                  c-0.3-0.1-0.7-0.2-0.9-0.4c-0.3-0.2-0.5-0.4-0.7-0.7s-0.4-0.6-0.4-0.9l1.7-0.7c0.1,0.3,0.3,0.5,0.5,0.7s0.5,0.3,0.9,0.3
                  c0.3,0,0.6-0.1,0.9-0.3s0.4-0.5,0.4-0.9c0-0.2-0.1-0.5-0.2-0.6c-0.1-0.2-0.2-0.3-0.4-0.4s-0.4-0.2-0.6-0.2s-0.4-0.1-0.6-0.1
                  c-0.3,0-0.6,0-1,0.1s-0.7,0.2-1,0.3l0.2-4.9h5.2v1.8h-3.4l-0.1,1.3c0.1,0,0.3-0.1,0.4-0.1c0.2,0,0.3,0,0.4,0c0.4,0,0.8,0.1,1.2,0.2
                  c0.4,0.1,0.7,0.3,1,0.5c0.3,0.2,0.5,0.5,0.7,0.8S36.5,6,36.5,6.4z"/>
                <path d="M44.2,5c0,0.6-0.1,1.2-0.2,1.7c-0.1,0.5-0.3,1-0.6,1.4c-0.3,0.4-0.6,0.7-1,1c-0.4,0.2-0.9,0.4-1.5,0.4
                  c-0.6,0-1.1-0.1-1.5-0.4c-0.4-0.2-0.8-0.6-1-1c-0.3-0.4-0.5-0.9-0.6-1.4S37.6,5.6,37.6,5s0.1-1.2,0.2-1.7c0.1-0.5,0.3-1,0.6-1.4
                  s0.6-0.7,1-1s0.9-0.4,1.5-0.4s1.1,0.1,1.5,0.4c0.4,0.2,0.8,0.6,1,1c0.3,0.4,0.5,0.9,0.6,1.4C44.2,3.8,44.2,4.4,44.2,5z M42.2,5
                  c0-0.3,0-0.6,0-0.9S42.1,3.5,42,3.2s-0.3-0.5-0.4-0.7c-0.2-0.2-0.4-0.3-0.6-0.3c-0.3,0-0.5,0.1-0.6,0.3c-0.2,0.2-0.3,0.4-0.4,0.7
                  s-0.2,0.6-0.2,0.9s0,0.6,0,0.9s0,0.6,0,0.9s0,0.6,0.1,0.8C40,7,40.1,7.2,40.3,7.4s0.4,0.3,0.6,0.3c0.3,0,0.5-0.1,0.6-0.3
                  c0.2-0.2,0.3-0.4,0.4-0.7C42,6.4,42,6.1,42.1,5.8S42.2,5.2,42.2,5z"/>
              </g>
              <foreignObject>LA2050</foreignObject>
            </switch>
          </svg>
        </a>
        -->
      </p>

{% endif %}
