{% if site.phase == 1 %}

      <p>
        Submissions open on February 28th!<br />
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4drDm6lKpmJudzHY8GYbXHvCszKoGuQUZsPR5TXc54OvDIQ/viewform">Learn more about the application process</a> at our office hours webinar on <strong>March 5, 2019</strong>
      </p>
      <p class="action">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4drDm6lKpmJudzHY8GYbXHvCszKoGuQUZsPR5TXc54OvDIQ/viewform">Sign up</a>
      </p>

      {% comment %}
      <p>
        Starting <strong>February 28, 2019</strong>, <span class="avoid-break">you can <a class="avoid-break" href="/submit/">submit your big idea.</a></span>
        Voting begins on
        <span class="avoid-break">
          <strong>April 22, 2019</strong>.
        </span>
      </p>
      <p class="action">
        <a href="{{ site.mailing_list_url }}">Get updates</a>
      </p>
      {% endcomment %}

{% elsif site.phase == 2 %}

      <p>
        The submission period has started!
        <span class="avoid-break"><a href="/submit/">Read the guidelines</a> and apply by <strong>March 29, 2019.</strong></span>
      </p>
      <p class="action">
        <a href="{{ site.submission_url }}">Submit your idea</a>
      </p>

{% elsif site.phase == 3 %}

      <p>
        The submission period is complete.
        <span class="avoid-break">All entries will be showcased here by <strong>April 15, 2019</strong>.</span>
      </p>
      <p class="action">
        <a href="{{ site.mailing_list_url }}">Get updates</a>
      </p>

{% elsif site.phase == 4 %}

      <p>
        The entries have arrived!
        <span class="avoid-break">
          <a href="/vote/">Public voting</a> begins on
          <span class="avoid-break">
            <strong>April 22, 2019</strong>.
          </span>
        </span>
      </p>
      
      <p class="action">
        <a href="/entries/">Check out the entries!</a>
      </p>

{% elsif site.phase == 5 %}
      <p>
        <a href="/vote/">Public voting</a> has started! 
        <span class="avoid-break">Vote by April 29, 2019.</span>
      </p>
            
      {% if page.layout == "project" %}
      <p class="action">
        <a href="/vote/form/?{{ page.category }}={{ page.organization_name | url_encode }}">Vote for this proposal</a>
      </p>
      {% else %}
      <p class="action">
        <a href="/entries/">Check out the entries!</a>
      </p>
      {% endif %}
      <!--

      {% if page.layout == "project" and page.category %}
      <p class="action">
        <a href="/vote/form/?{{ page.category }}={{ page.organization_name | url_encode }}">I’m ready to vote</a>
      </p>
      {% else %}
      <p class="action">
        <a href="/entries/">Check out the entries!</a>
        <a href="/vote/form/">I’m ready to vote</a>
      </p>
      {% endif %}
      -->

{% elsif site.phase == 6 %}

      <p>
        Đặt mua sản phẩm cây trồng giống nhiều dinh dưỡng nuôi thỏ.
        <span class="avoid-break">
          và mua thỏ con giống tại 
          <span class="avoid-break">
            <strong>Tiepz Studio</strong>.
          </span>
        </span>
      </p>
      <p class="action">
        <a href="{{ site.mailing_list_url }}">Tiepz Shop</a>
      </p>

{% elsif site.phase == 7 %}

      <p>
        The finalists have been announced!
        <span class="avoid-break">
          Winners will be announced on 
          <span class="avoid-break">
            <strong>June 4, 2019</strong>.
          </span>
        </span>
      </p>
      <p class="action">
        <a href="/finalists/">Check out the finalists!</a>
      </p>

{% elsif site.phase == 8 %}

      <p>
        The winners have been announced.
        Thank you to everyone who participated!
      </p>
      <p class="action">
        <a href="/winners/">Check out the winners!</a>
      </p>

      <!--
      <p>
        The 2019 Grants Challenge is part of the greater <a href="https://la2050.org/">LA2050 initiative</a>.
        <span class="avoid-break" data-characters="45">We’re working to move Los Angeles <span class="avoid-break">toward <a href="https://la2050.org/#learnmore">five goals</a>.</span></span>
      </p>
      -->

{% endif %}

