{% if site.phase == 1 %}

      <p>
        Starting <strong>March 1, 2018</strong>, <span class="avoid-break">you can <a class="avoid-break" href="/submit/">submit your big idea.</a></span><br />
        Voting begins on
        <span class="avoid-break">
          <strong>June 19, 2018</strong>.
        </span>
      </p>

{% elsif site.phase == 2 %}

      <p>
        The submission period has started!
        <span class="avoid-break">Apply by <strong>March 30, 2018.</strong></span>
        <small>
          Voting begins on
          <span class="avoid-break">
            <strong>June 19, 2018.</strong>
          </span>
        </small>
      </p>

{% elsif site.phase == 3 %}

      <p>
        The submission period is complete.
        <span class="avoid-break">Entries will be showcased here on <strong>April 9, 2018</strong>.</span>
      </p>

{% elsif site.phase == 4 %}

      <p>
        <span class="avoid-break">Finalists will be announced on <strong class="avoid-break">May 21, 2018.</strong></span>
        <small class="avoid-break">
        Voting begins on
        <span class="avoid-break">
          <strong>June 19, 2018</strong>.
        </span>
        </small>
      </p>

{% elsif site.phase == 5 %}

      <p>
        {% if site.event_url %}
        <span class="avoid-break">
          Vote at the <strong style=""><a href="/event/">public event</a></strong> on <strong>June 19, 2018</strong>.
        </span>
        {% else %}
        The <a href="/finalists/">finalists</a> have been announced!
        <span class="avoid-break">
          Voting begins on
          <span class="avoid-break">
            <strong>June 19, 2018</strong>.
          </span>
        </span>
        {% endif %}
      </p>

{% elsif site.phase == 6 %}

      <p>Public voting has started! <a href="/finalists/">Check out the finalists</a>, and vote by <strong>June 29, 2018</strong>.</p>

      <p class="action">
        <a href="{{ site.vote_url }}">I’m ready to vote</a>
      </p>

{% elsif site.phase == 7 %}

      <p>
        Public voting is complete.
        <span class="avoid-break">
          Winners will be announced on 
          <span class="avoid-break">
            <strong>July 9, 2018</strong>.
          </span>
        </span>
      </p>

{% elsif site.phase == 8 %}

      <p>
        <strong><a href="/winners/">The winners have been announced</a>.</strong>
        <strong>Thank you to everyone who participated!</strong>
      </p>

{% endif %}
