<ul class="proposals">
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="AltaSea: Where STEM Meets the Ocean">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/3892536625741-team89.jpg" alt="AltaSea: Where STEM Meets the Ocean" width="540" height="428" />
        <div class="blueberry">
          <h4>Learn</h4>
        </div>
        <div class="content">
          <div class="organization">AltaSea at the Port of Los Angeles</div>
          <h3>AltaSea: Where STEM Meets the Ocean</h3>
          <div class="description">AltaSea and our partners are inspiring the next generation to explore the ocean and to generate blue solutions to the world’s most pressing challenges: food, energy and climate security.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Skills development, creative expression and team building through classic car restoration.">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/3013757055741-team88.JPG" alt="Skills development, creative expression and team building through classic car restoration." width="540" height="428" />
        <div class="blueberry">
          <h4>Learn</h4>
        </div>
        <div class="content">
          <div class="organization">Lost Angels Children's Project</div>
          <h3>Skills development, creative expression and team building through classic car restoration.</h3>
          <div class="description">Lost Angels Children's Project engages at-risk youth through classic car restoration and customization to learn a trade, gain life skills and become empowered through team building activities.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Catalyzing Community Partnerships to create economic mobility for LA’s underserved entrepreneurs">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/7035677564741-team90.jpg" alt="Catalyzing Community Partnerships to create economic mobility for LA’s underserved entrepreneurs" width="540" height="428" />
        <div class="banana">
          <h4>Create</h4>
        </div>
        <div class="content">
          <div class="organization">Opportunity Fund</div>
          <h3>Catalyzing Community Partnerships to create economic mobility for LA’s underserved entrepreneurs</h3>
          <div class="description">Opportunity Fund will say “Yes!” to 240 underserved LA small business owners in collaboration with 10+ community organizations and invest capital in their enterprises to create self-sufficiency & jobs</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="If She Can See It, She Can Be It: Empowering Girls &amp; Creating a Gender-Balanced Media Landscape ">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/8697450355741-team90.jpg" alt="If She Can See It, She Can Be It: Empowering Girls &amp; Creating a Gender-Balanced Media Landscape " width="540" height="428" />
        <div class="banana">
          <h4>Create</h4>
        </div>
        <div class="content">
          <div class="organization">Geena Davis Institute on Gender in Media at Mount Saint Mary’s University</div>
          <h3>If She Can See It, She Can Be It: Empowering Girls & Creating a Gender-Balanced Media Landscape </h3>
          <div class="description">The Geena Davis Institute will invite 50 young women to participate in its See Jane Salons, fostering future female entertainment leaders and empowering girls in LA around issues of gender in media.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Cleantech 2 Edtech: LA schools save energy as students and startups implement cleantech innovations">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/4863691455741-team91.jpg" alt="Cleantech 2 Edtech: LA schools save energy as students and startups implement cleantech innovations" width="540" height="428" />
        <div class="banana">
          <h4>Create</h4>
        </div>
        <div class="content">
          <div class="organization">California Institute of Technology</div>
          <h3>Cleantech 2 Edtech: LA schools save energy as students and startups implement cleantech innovations</h3>
          <div class="description">Cleantech 2 Edtech will speed energy saving innovations into LA schools, engage students in energy saving projects and open new opportunities for fast growing cleantech companies in Los Angeles.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Restoring and reimagining the World&#039;s First &#039;Polyphonoptic&#039; sculpture in downtown Los Angeles">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/7344404654741-team91.jpg" alt="Restoring and reimagining the World&#039;s First &#039;Polyphonoptic&#039; sculpture in downtown Los Angeles" width="540" height="428" />
        <div class="strawberry">
          <h4>Play</h4>
        </div>
        <div class="content">
          <div class="organization">The Triforium Project</div>
          <h3>Restoring and reimagining the World's First 'Polyphonoptic' sculpture in downtown Los Angeles</h3>
          <div class="description">The Triforium is a piece of “polyphonoptic” public art in DTLA that was 40 years ahead of its time; we want to restore and retrofit it to achieve the artist's dream of music, community, and wonder.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Theraputic Ocean Engagement: Surfing (T.O.E.S. as in, on the nose!)">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/8758171455741-team90.jpg" alt="Theraputic Ocean Engagement: Surfing (T.O.E.S. as in, on the nose!)" width="540" height="428" />
        <div class="strawberry">
          <h4>Play</h4>
        </div>
        <div class="content">
          <div class="organization">Surf Bus Foundation</div>
          <h3>Theraputic Ocean Engagement: Surfing (T.O.E.S. as in, on the nose!)</h3>
          <div class="description">Therapeutic Ocean Engagement: Surfing (T.O.E.S)</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="The Man2Man Project: Preventing boys from becoming dads too early and helping teen dads to step up!">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/1711077255741-team90.JPG" alt="The Man2Man Project: Preventing boys from becoming dads too early and helping teen dads to step up!" width="540" height="428" />
        <div class="tangerine">
          <h4>Connect</h4>
        </div>
        <div class="content">
          <div class="organization">Friends of the Family</div>
          <h3>The Man2Man Project: Preventing boys from becoming dads too early and helping teen dads to step up!</h3>
          <div class="description">The Man2Man Project will connect multiple generations of men and boys for the dual purpose of helping young dads to become great fathers and preventing at-risk boys from becoming fathers too soon.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Pathways to Employment through Professional Volunteerism">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/4769182815741-team88.png" alt="Pathways to Employment through Professional Volunteerism" width="540" height="428" />
        <div class="tangerine">
          <h4>Connect</h4>
        </div>
        <div class="content">
          <div class="organization">Tierra del Sol Foundation</div>
          <h3>Pathways to Employment through Professional Volunteerism</h3>
          <div class="description">Tierra del Sol Foundation will empower adults with developmental disabilities to achieve a life of meaning, acceptance, value, and inclusion, via professional volunteerism as a pathway to employment.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="Big Citizen HUB: Building a pipeline of social change makers via leadership and community service">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/9500569955741-team90.jpg" alt="Big Citizen HUB: Building a pipeline of social change makers via leadership and community service" width="540" height="428" />
        <div class="tangerine">
          <h4>Connect</h4>
        </div>
        <div class="content">
          <div class="organization">Big Citizen HUB</div>
          <h3>Big Citizen HUB: Building a pipeline of social change makers via leadership and community service</h3>
          <div class="description">Big Citizen HUB will connect 236 diverse young people, ages 11-26, from all across Los Angeles for 22 Saturdays to learn about our communities and address local issues through service.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="The Precise Barber College">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/3954291065741-team90.jpg" alt="The Precise Barber College" width="540" height="428" />
        <div class="lime">
          <h4>Live</h4>
        </div>
        <div class="content">
          <div class="organization">Covenant House California</div>
          <h3>The Precise Barber College</h3>
          <div class="description">The Precise Barber College will provide pathways to careers for homeless youth - not just jobs - and combine the best of the for-profit and non-profit worlds for a socially conscious enterprise.</div>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article>
      <a href="/proposals/port-of-los-angeles/" title="The Future is Bright! A Clean Energy Future for LA">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/6783094165741-team89.jpg" alt="The Future is Bright! A Clean Energy Future for LA" width="540" height="428" />
        <div class="lime">
          <h4>Live</h4>
        </div>
        <div class="content">
          <div class="organization">The Sierra Club Foundation</div>
          <h3>The Future is Bright! A Clean Energy Future for LA</h3>
          <div class="description">We’re fighting for an equitable transition to 100 percent clean energy across Los Angeles and all of California!</div>
        </div>
      </a>
    </article>
  </li>
</ul>