{% if site.phase == 2 %}
**![](/assets/images/timeline/light.svg) Submission Period**
: **February 28 - <span class="avoid-break">March 29, 2019</span>**
{% else %}
![](/assets/images/timeline/light.svg) Submission Period
: February 28 - <span class="avoid-break">March 29, 2019</span>
{% endif %}

{% if site.phase == 3 %}
**![](/assets/images/timeline/strawberry/paper.svg) All Submissions Online**
: **April 15, 2019**
{% else %}
![](/assets/images/timeline/paper.svg) All Submissions Online
: April 15, 2019
{% endif %}

{% if site.phase == 5 %}
**![](/assets/images/timeline/strawberry/vote.svg) Public Voting**
: **April 22 - <span class="avoid-break">April 29, 2019</span>**
{% else %}
![](/assets/images/timeline/vote.svg) Public Voting
: April 22 - <span class="avoid-break">April 29, 2019</span>
{% endif %}

{% if site.phase == 7 %}
**![](/assets/images/timeline/strawberry/ribbon.svg) Winners Announced**
: **June 4, 2019**
{% else %}
![](/assets/images/timeline/ribbon.svg) Winners Announced
: June 4, 2019
{% endif %}
