<div class="category">
<h2 class="{{ category_color }}" id="{{ category }}">Which proposal will make LA the best place to <em class="category">{{ category }}</em>?</h2>

<ul class="{{ category }} {{ category_color }}">
{% assign first_item = true %}
{% assign data_collection = site.collections | where: "label", site.year | first %}
{% assign data_list = data_collection.docs %}
{% assign data_list = data_list | where: "category", category %}
{% for project in data_list %}

<li>

  <a href="{{ project.url }}" target="_blank">
    {% capture image_filename %}{{ project.filename }}.jpg{% endcapture %}
    {% capture image_category %}{{ project.year }}/{{ project.category }}{% endcapture %}
    <span class="image">
      <img  src="/assets/images/blank.png"
            data-src="{{ site.image_host }}/assets/images/{{ image_category }}/512-wide-with-aspect-10-8/{{ image_filename }}"
            data-srcset="{{ site.image_host }}/assets/images/{{ image_category }}/384-wide-with-aspect-10-8/{{ image_filename }} 384w,
                         {{ site.image_host }}/assets/images/{{ image_category }}/512-wide-with-aspect-10-8/{{ image_filename }} 512w,
                         {{ site.image_host }}/assets/images/{{ image_category }}/768-wide-with-aspect-10-8/{{ image_filename }} 768w,
                         {{ site.image_host }}/assets/images/{{ image_category }}/1024-wide-with-aspect-10-8/{{ image_filename }} 1024w,
                         {{ site.image_host }}/assets/images/{{ image_category }}/1536-wide-with-aspect-10-8/{{ image_filename }} 1536w,
                         {{ site.image_host }}/assets/images/{{ image_category }}/2048-wide-with-aspect-10-8/{{ image_filename }} 2048w"
            sizes="(min-width: 30em) 20em, (min-width: 15em) 50vw, 100vw"
            height="300"
            alt=""
        {% if project.project_image_color %}
            style="background-color: {{ project.project_image_color }}"
        {% endif %}
      />
    </span>
    <br />
    <div class="text">
      <div class="text-inner">
        {% if project.organization_name == "EVERYBODY.WORLD" %}
          <h3>EVERYBODY&shy;.WORLD</h3>
        {% else %}
          <h3>{{ project.organization_name }}</h3>
        {% endif %}
        {% unless project.title == project.organization_name %}
        <p>{{ project.title }}</p>
        {% endunless %}
      </div>
    </div>
    <span class="mask"></span>
  </a>

  <label>
    <input type="radio" name="{{ category }}" value="{{ project.organization_name }}" />

    <span class="mask"></span>
    <span class="pseudo-checkbox" style="display: none">
      <svg width="24" height="24" viewBox="0 0 512 512">
        <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
      </svg>
      <strong>Selected</strong>
    </span>
    <span class="call-to-action">
      <strong>Select</strong>
    </span>
    <span class="hidden-but-accessible">
      {{ project.organization_name }}
    </span>

  </label>

</li>
{% assign first_item = false %}
{% endfor %}
</ul>

<hr />
</div>
