

  /* =Action
  ----------------------------------------------- */
  button,
  .action a,
  .action > span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: black;
    border: 0.1875em solid black;
    color: white;
    background-color: var(--strawberry);
    border-color: var(--strawberry);
    color: var(--snow);
    padding: 0.75em 1.5em;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600; /* @semibold */
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  }
  button:hover,
  button:active,
  button:focus,
  .action a:hover,
  .action a:active,
  .action a:focus {
    background-color: var(--snow);
    color: var(--strawberry);
  }
  .action svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
  }


  /* =Form
  ----------------------------------------------- */
  input[type="search"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    padding: 0.75em;
    border-radius: 0;
    width: 100%;
    max-width: 25em;
    box-sizing: border-box;
    border: 0.1875em solid black;
    border-color: var(--strawberry);

    /* Remove Safari’s default styles for search fields */
    -webkit-appearance: none;
  }

  /* =Footer
  ----------------------------------------------- */
  .strawberry .action a {
    background-color: var(--strawberry);
    border: 0.1875em solid var(--strawberry);
    color: var(--snow);
  }
  .blueberry .action a {
    background-color: var(--blueberry);
    border: 0.1875em solid var(--blueberry);
    color: var(--snow);
  }
  .banana .action a {
    background-color: var(--banana);
    border: 0.1875em solid var(--banana);
    color: var(--snow);
  }
  .tangerine .action a {
    background-color: var(--tangerine);
    border: 0.1875em solid var(--tangerine);
    color: var(--snow);
  }
  .lime .action a {
    background-color: var(--lime);
    border: 0.1875em solid var(--lime);
    color: var(--snow);
  }
  .lime button {
    background-color: var(--lime);
    border: 0.1875em solid var(--lime);
    color: var(--snow);
  }

  .strawberry .action a.active,
  .strawberry .action a:hover,
  .strawberry .action a:active,
  .strawberry .action a:focus {
    background-color: var(--snow);
    color: var(--strawberry);
  }
  .blueberry .action a.active,
  .blueberry .action a:hover,
  .blueberry .action a:active,
  .blueberry .action a:focus {
    background-color: var(--snow);
    color: var(--blueberry);
  }
  .banana .action a.active,
  .banana .action a:hover,
  .banana .action a:active,
  .banana .action a:focus {
    background-color: var(--snow);
    color: var(--banana);
  }
  .tangerine .action a.active,
  .tangerine .action a:hover,
  .tangerine .action a:active,
  .tangerine .action a:focus {
    background-color: var(--snow);
    color: var(--tangerine);
  }
  .lime button:hover,
  .lime button:active,
  .lime button:focus
  .lime .action a.active,
  .lime .action a:hover,
  .lime .action a:active,
  .lime .action a:focus {
    background-color: var(--snow);
    color: var(--lime);
  }


  /* =Goals
  ----------------------------------------------- */
  .action ul,
  .action li {
    list-style: none;
    padding-left: 0;
  }
  .action li {
    margin-bottom: 0.75em;
  }
  .action li a {
    width: 100%;
    box-sizing: border-box;
  }
  @media (min-width: 30em) {
    .action ul {
      display: flex;
      justify-content: center;
    }
    .action li {
      margin: 0 0.5em;
    }
  }

  .action .strawberry a {
    background-color: var(--strawberry);
    border: 0.1875em solid var(--strawberry);
    color: var(--snow);
  }
  .action .blueberry a {
    background-color: var(--blueberry);
    border: 0.1875em solid var(--blueberry);
    color: var(--snow);
  }
  .action .banana a {
    background-color: var(--banana);
    border: 0.1875em solid var(--banana);
    color: var(--snow);
  }
  .action .tangerine a {
    background-color: var(--tangerine);
    border: 0.1875em solid var(--tangerine);
    color: var(--snow);
  }
  .action .lime a {
    background-color: var(--lime);
    border: 0.1875em solid var(--lime);
    color: var(--snow);
  }

  .action .strawberry a.active,
  .action .strawberry a:hover,
  .action .strawberry a:active,
  .action .strawberry a:focus {
    background-color: var(--snow);
    color: var(--strawberry);
  }
  .action .blueberry a.active,
  .action .blueberry a:hover,
  .action .blueberry a:active,
  .action .blueberry a:focus {
    background-color: var(--snow);
    color: var(--blueberry);
  }
  .action .banana a.active,
  .action .banana a:hover,
  .action .banana a:active,
  .action .banana a:focus {
    background-color: var(--snow);
    color: var(--banana);
  }
  .action .tangerine a.active,
  .action .tangerine a:hover,
  .action .tangerine a:active,
  .action .tangerine a:focus {
    background-color: var(--snow);
    color: var(--tangerine);
  }
  .action .lime a.active,
  .action .lime a:hover,
  .action .lime a:active,
  .action .lime a:focus {
    background-color: var(--snow);
    color: var(--lime);
  }

