

  /* =Colors
  ----------------------------------------------- */
  :root {

    /* LEARN */
    --blueberry              : hsl(183, 100%,  37%);
    --blueberry-bright       : hsl(182,  58%,  75%);
    --blueberry-very-bright  : hsl(183,  59%,  92%);

    /* PLAY */
    --strawberry             : hsl(334,  86%,  57%);
    --strawberry-bright      : hsl(334,  86%,  83%);
    --strawberry-very-bright : hsl(328,  59%,  94%);

    /* LIVE */
    --lime                   : hsl( 88,  51%,  53%);
    --lime-bright            : hsl( 86,  52%,  81%);
    --lime-very-bright       : hsl( 85,  50%,  91%);

    /* CONNECT */
    --tangerine              : hsl( 33,  94%,  59%);
    --tangerine-bright       : hsl( 33,  95%,  84%);
    --tangerine-very-bright  : hsl( 33,  95%,  92%);

    /* CREATE */
    --banana                 : hsl( 47,  97%,  60%);
    --banana-bright          : hsl( 47,  98%,  84%);
    --banana-very-bright     : hsl( 48,  95%,  92%);

    /* SHIM: Make banana color darker in some cases, for legibility */
    --banana-darker: hsl(47, 87%, 50%);


    --midnight : rgb( 41,  41,  41);
    --snow     : rgb(254, 254, 254);
  }



  :root {
    --primary-color:   var(--strawberry);
    --secondary-color: var(--banana);
  }
  .banana {
    --primary-color:   var(--banana);
    --secondary-color: var(--strawberry);
  }
  .blueberry {
    --primary-color:   var(--blueberry);
    --secondary-color: var(--banana);
  }
  .lime {
    --primary-color:   var(--lime);
    --secondary-color: var(--strawberry);
  }
  .strawberry {
    --primary-color:   var(--strawberry);
    --secondary-color: var(--banana);
  }
  .tangerine {
    --primary-color:   var(--tangerine);
    --secondary-color: var(--strawberry);
  }


  body {
    background: var(--snow);
    color: var(--midnight);
  }

  h1, h2, h3, h4, h5, h6, strong, em {
    color: var(--primary-color);
  }

  a {
    color: var(--primary-color);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--secondary-color);
  }

  main > h1:first-child strong {
    color: var(--secondary-color);
    font-weight: bold;
  }

  header,
  main > h1:first-child {
    background-color: var(--primary-color);
    color: var(--snow);
  }
  header a,
  main > h1:first-child em {
    color: var(--snow);
  }
  header .active a,
  header a:hover,
  header a:active,
  header a:focus  {
    color: var(--secondary-color);
  }
  main > h1:not(:first-child),
  main h2,
  main h3,
  main strong,
  main em {
    color: var(--primary-color);
  }
  main > ul a,
  main > p a {
    color: var(--primary-color);
  }
  main > ul a:hover,
  main > ul a:active,
  main > ul a:focus,
  main > p a:hover,
  main > p a:active,
  main > p a:focus {
    color: var(--secondary-color);
  }

  /* SHIM: Make the colors work a little differently on the home page */
  .home.blueberry main {
    --primary-color: var(--strawberry);
  }
  .home.blueberry main h1 {
    --primary-color: var(--blueberry);
  }


















@supports false {

  .blueberry main > p a {
    color: var(--strawberry);
  }
  .blueberry main > p a:hover,
  .blueberry main > p a:active,
  .blueberry main > p a:focus {
    color: var(--banana);
    color: var(--banana-darker);
  }

  .tangerine main a {
    color: var(--tangerine);
  }
  .tangerine main a:hover,
  .tangerine main a:active,
  .tangerine main a:focus {
    color: var(--strawberry);
  }

  .lime main a:hover,
  .lime main a:active,
  .lime main a:focus {
    color: var(--lime);
  }

  .strawberry main > ul a,
  .strawberry main > p a {
    color: var(--primary-color);
  }
  .strawberry main > ul a:hover,
  .strawberry main > ul a:active,
  .strawberry main > ul a:focus,
  .strawberry main > p a:hover,
  .strawberry main > p a:active,
  .strawberry main > p a:focus {
    color: var(--secondary-color);

    color: var(--banana-darker); /* SHIM */
  }



  .blueberry header,
  .blueberry main > h1:first-child {
    background-color: var(--primary-color);
    color: var(--snow);
  }
  .blueberry header a,
  .blueberry main > h1:first-child em {
    color: var(--snow);
  }
  .blueberry header .active a,
  .blueberry header a:hover,
  .blueberry header a:active,
  .blueberry header a:focus  {
    color: var(--secondary-color);
  }
  .blueberry main h2,
  .blueberry main h3,
  .blueberry main strong,
  .blueberry main em {
    color: var(--secondary-color);

    color: var(--strawberry); /* SHIM */
  }


  .lime header,
  .lime main > h1:first-child {
    background-color: var(--lime);
    color: var(--snow);
  }
  .lime header a {
    color: var(--snow);
  }
  .lime header .active a,
  .lime header a:hover,
  .lime header a:active,
  .lime header a:focus  {
    color: var(--strawberry);
  }
  .lime main h2,
  .lime main h3,
  .lime main strong,
  .lime main em {
    color: var(--lime);
  }


  .tangerine header,
  .tangerine main > h1:first-child {
    background-color: var(--primary-color);
    color: var(--snow);
  }
  .tangerine header a,
  .tangerine main > h1:first-child em {
    color: var(--snow);
  }
  .tangerine header .active a,
  .tangerine header a:hover,
  .tangerine header a:active,
  .tangerine header a:focus  {
    color: var(--secondary-color);
  }
  .tangerine main > h1:not(:first-child),
  .tangerine main h2,
  .tangerine main h3,
  .tangerine main > details h3,
  .tangerine main > details p strong,
  .tangerine main > details p em,
  .tangerine main > p strong,
  .tangerine main > p em {
    color: var(--primary-color);
  }


  .banana header,
  .banana main > h1:first-child {
    background-color: var(--primary-color);
    color: var(--snow);
  }
  .banana header a,
  .banana main > h1:first-child em {
    color: var(--snow);
  }
  .banana header .active a,
  .banana header a:hover,
  .banana header a:active,
  .banana header a:focus  {
    color: var(--secondary-color);
  }
  .banana main > h1:not(:first-child),
  .banana main h2,
  .banana main h3,
  .banana main h4,
  .banana main p strong,
  .banana main p em {
    color: var(--secondary-color);

    color: var(--banana-darker); /* SHIM */
  }

}
