

  /* SHIM: Make the list look nicer in browsers that don’t understand summary / details */
  /* https://github.com/whatwg/html/issues/722 */
  details > summary {
    display: list-item;
    list-style: disclosure-closed inside;
  }
  details {
    display: block;
  }
  details[open] > summary {
    list-style: disclosure-open inside;
  }


  details {
    margin-top: 3em;
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
  }
  details h3 {
    margin-top: 0;
  }

  /* TRICKY: The details text may look super narrow in iOS Safari, if they have a max width. */
  details h3,
  details p,
  details ol,
  details ul {
    max-width: none;
  }

  summary {
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(249, 160, 51); /* @tangerine */
  }
  .lime summary {
    color: rgb(141, 208, 59); /* @lime */
  }
  summary h3,
  .tangerine main > details h3 {
    color: inherit;
  }

  details summary:focus {
    outline: 0px solid transparent;
  }
  details summary:focus {
    color: rgb(6, 179, 188); /* @blueberry */
    color: rgb(249, 160, 51); /* @tangerine */
    color: rgb(237, 59, 136); /* @strawberry */
  }
  details summary::-webkit-details-marker,
  details summary:focus::-webkit-details-marker {
    color: rgb(6, 179, 188); /* @blueberry */
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(249, 160, 51); /* @tangerine */
    color: inherit;
  }

  details {
    padding-left: 1.5rem;
  }
  details summary {
    margin-left: -1.5rem;
  }
  details h3 {
    margin-top: -1.25em;
    margin-left: 1.5rem;
  }
  details ~ h3 {
    padding-left: 1em;
  }
  details ~ p {
    padding-left: 1.5em;
  }
  @media (max-width: 33em) {
    details {
      margin-left: -0.75rem;
      margin-right: 0.75rem;
    }
    details ~ h3 {
      margin-left: -0.5em;
      margin-right: 0.5em;
    }
    details ~ p {
      margin-left: -0.75em;
      margin-right: 0.75em;
    }
  }

  /* SHIM: Work around for Safari REM bug: https://colloq.io/blog/safaris-detailssummary-rem-font-size-issue */
  details ~ p {
    max-width: 33em;
  }
  details ~ h3 {
    margin-top: 2em;
    max-width: 22em;
  }
