

  /* =Home
  ----------------------------------------------- */
  .change-is-local {
    margin-top: 0;
    margin-bottom: 3em;
  }
  .change-is-local .caption {
    font-size: inherit;
  }
  .change-is-local .caption h1 {
    font-size: 2.25em;
    line-height: 1;
    margin-bottom: 0.75rem;
  }
  .change-is-local .caption p:not(.action) {
    font-weight: 500; /* @medium */
    text-transform: none;
    text-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 40em) {
    .change-is-local .caption p:not(.action) {
      font-size: 1.5em;
      /*font-size: 2vmax;*/
    }
  }
  .change-is-local .caption .action a {
    background-color: rgb(6, 179, 188); /* @blueberry */
    border: 0.1875em solid rgb(6, 179, 188); /* @blueberry */
  }
  .change-is-local .caption .action a:hover,
  .change-is-local .caption .action a:active,
  .change-is-local .caption .action a:focus {
    background-color: rgb(237, 59, 136); /* @strawberry */
    background-color: white;
    color: rgb(6, 179, 188); /* @blueberry */
  }
  h1 + .standard-figure {
    margin-top: -4.5em;
  }
  .standard-figure ~ .introduction {
    margin-top: 3em;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    h1 + .standard-figure {
      margin-top: -6em;
    }
  }

  .change-is-local ~ .introduction {
    background-color: rgb(237, 59, 136); /* @strawberry */
    color: white;
    margin: 0 -1.5em 3em -1.5em;
    padding: 1.5em 1.5em 2.25em;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    .change-is-local ~ .introduction {
      margin: -1.5em -3em 3em -3em;
      padding: 1.5em 3em 2.25em;
    }
  }
  .change-is-local ~ .introduction p:not(.action) + p:not(.action) {
    max-width: 27em;
  }
  .change-is-local ~ .introduction p:not(.action) strong {
    color: rgb(255, 224, 81); /* @bright-banana */
    color: rgb(255, 194, 51); /* @banana */
  }
  .change-is-local ~ .introduction .action a {
    background-color: rgb(255, 224, 81); /* @bright-banana */
    background-color: rgb(255, 194, 51); /* @banana */
    color: black;
    color: rgba(0, 0, 0, 0.65);
  }
  .change-is-local ~ .introduction .action a:hover,
  .change-is-local ~ .introduction .action  a:active,
  .change-is-local ~ .introduction .action  a:focus {
    background-color: rgb(6, 179, 188); /* @blueberry */
  }


  @supports (object-fit: cover) and (display: flex) {
    .change-is-local .caption p strong {
      display: inline-block;
      font-weight: bold;
    }
    @media (min-width: 40em) {
      .change-is-local .caption h1 {
        font-size: 6vmax;
      }
    }
    @media (min-width: 15em) {
      .home .change-is-local::before {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0));
      }
      .home header {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        background: transparent;
        margin: 0;
        left: 0;
      }
      .home header h2 a,
      .home header ul a {
        color: rgb(46, 219, 228); /* @bright-blueberry */
        text-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
      }
      .home header h2 a {
        color: white;
      }
      .home header a:hover,
      .home header a:active,
      .home header a:focus {
        color: rgb(141, 208, 59); /* @lime */
        color: rgb(6, 179, 188); /* @blueberry */
        color: rgb(46, 219, 228); /* @bright-blueberry */
        color: rgb(237, 59, 136); /* @strawberry */
        color: rgb(255, 89, 176); /* @brighter-strawberry */
        color: white;
      }
    }
  }
  .home .change-is-local::before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
  }
  .home .change-is-local .caption {
    align-items: center;
    align-items: flex-end;
    padding-bottom: 2.25em;
  }
  .home .change-is-local img {
    height: 61.66992188vw; /* The aspect ratio of the LA Más image */
    height: 50vw;
  }
  @media (min-width: 60em) {
    .home .change-is-local .caption {
      padding-top: 7.5em;
      padding-bottom: 0;
      align-items: center;
    }
  }
  @media (max-width: 80em) {
    .home .change-is-local img {
      height: 250vw;
    }
  }
  @media (min-width: 19em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 170vw;
    }
  }
  @media (min-width: 21em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 150vw;
    }
  }
  @media (min-width: 25em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 125vw;
    }
  }
  @media (min-width: 30em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 100vw;
    }
  }
  @media (min-width: 40em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 80vw;
    }
  }
  @media (min-width: 50em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 70vw;
    }
  }
  @media (min-width: 60em) and (max-width: 80em) {
    .home .change-is-local img {
      height: 60vw;
    }
  }
  @media (min-width: 15em) and (max-width: 60em) {
    .home .change-is-local ~ .introduction {
      margin-top: 0;
    }
  }

  .home .change-is-local ~ .introduction .action {
    margin-bottom: 0;
  }
