
  .proposals,
  .proposals li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .proposals {
    grid-column: 1/4 !important;
    display: grid;
    max-width: none;
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    grid-column-gap: 3em;
    grid-row-gap: 4.5em;
    margin-bottom: 4.5em !important;
  }
  .proposals a,
  .proposals a:hover {
    color: inherit !important;
    text-decoration: none;
  }
  .proposals img {
    display: block;
    /*  
    filter: grayscale(100%);
    transition: filter 0.2s;
    */
  }
  /* 
  .proposals a:hover img,
  .proposals a:active img,
  .proposals a:focus img {
    filter: none;
  }
  */
  .proposals a:hover  h3,
  .proposals a:active h3,
  .proposals a:focus  h3 {
    text-decoration: underline;
  }
  .proposals h4 {
    margin-top: 0;
    color: inherit;
    padding: 0.375em 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    max-width: none;
  }
  .proposals .organization {
    margin-top: 0;
    font-size: 0.875em;
    line-height: 1.25;
    font-style: italic;
    color: inherit;
    /*padding: 0 0.75em;*/
    color: rgb(237, 192, 50); /* @dark-banana */
    max-width: none;
    font-weight: 400;
    color: inherit !important;
  }
  .proposals .description {
    font-size: 0.875em;
    display: none;
    /*padding: 0 0.75rem;*/
  }
  .proposals h3 {
    margin-top: 0.6em; /* 0.75 / 1.25 */
/*    opacity: 0.5;*//*
    text-transform: uppercase;
    letter-spacing: 1px;*/
    font-size: 0.875em;
    font-size: 1em;
    line-height: 1.25;
    /*padding: 0 0.75rem;*/
    color: var(--primary-color, black);
    font-weight: bold;
    margin-bottom: 0.375em;
  }

  .proposals .strawberry {
    background-color: rgb(237, 59, 136); /* @strawberry */
    color: white;
  }
  .proposals .blueberry {
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: white;
  }
  .proposals .banana {
    background-color: rgb(255, 194, 51); /* @banana */
    color: white;
  }
  .proposals .tangerine {
    background-color: rgb(249, 160, 51); /* @tangerine */
    color: white;
  }
  .proposals .lime {
    background-color: rgb(141, 208, 59); /* @lime */
    color: white;
  }

  .goals-proposals p {
    max-width: none;
  }
  .goals-proposals .browse {
    text-align: center;
  }
  .goals-proposals .count {
    text-align: center;
  }

/*  .proposals img + div {
    opacity: 0;
    height: 1.5em;
  }*/



/*  body {
    background: rgba(0, 0, 0, 0.05);
  }

  .proposals li {
    display: block;
    background: white;
    padding-bottom: 0.75em;
  }*/

/*  @media (min-width: 60em) {
    .proposals {
      padding: 1.5em;
    }
  }*/
