

  /* =In Depth
  ----------------------------------------------- */
  main > section {
    margin-left: -1.5em;
    margin-right: -1.5em;
    padding: 3em 1.5em;
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 67.5vmin;
  }
  .activation-examples,
  .timeline {
    text-align: center;
  }
  main > h1 + section,
  main > h1 + .action + section,
  main > section + section {
    margin-top: -1.5em;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    main > h1 + section,
    main > h1 + .action + section,
    main > section + section {
      margin-top: -3em;
    }
  }
  main > .goals + section {
    margin-top: 0;
  }
  main > section.activation-examples {
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: white;
  }
  main > section.timeline {
    background-color: rgb(255, 194, 51); /* @banana */
    color: white;
  }
  main > section.timeline p {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  main > section.timeline p strong {
    color: inherit;
  }
  main > section.timeline p:not(.action) a {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  main > section.timeline p a:active,
  main > section.timeline p a:hover,
  main > section.timeline p a:focus {
    color: white;
  }
  main > h1 + section.timeline {
    padding-top: 0;
  }
  .activation-examples h2 + p {
    max-width: none;
    font-weight: bold;
  }

  .activation-examples h2 + p strong {
    color: inherit;
    font-weight: inherit;
  }
  .activation-examples h2 + p strong em {
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(255, 194, 51); /* @banana */
    color: rgb(255, 224, 81); /* @bright-banana */
    font-style: normal;
    display: inline-block;
    font-weight: inherit;
  }
  .activation-examples a {
    color: rgb(255, 224, 81); /* @bright-banana */
  }
  main > section.activation-examples a:hover,
  main > section.activation-examples a:active,
  main > section.activation-examples a:focus {
    color: rgb(255, 79, 156); /* @bright-strawberry */
    color: rgb(141, 208, 59); /* @lime */
    color: rgb(181, 248, 99); /* @bright-lime */
    color: white;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    .activation-examples h2 + p {
    }
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    main > section {
      margin-left: -3em;
      margin-right: -3em;
      padding: 4.5em 3em;
    }
  }
  .timeline > div > h2,
  .activation-examples > div > h2 {
    margin-top: 0;
    color: inherit;
    font-size: 1.75em;
    line-height: 1.2857142857; /* (1.5 / 1.75) x 1.5 */
    font-style: italic;
    margin-bottom: 1;
  }
  @media (min-width: 40em) {
    .timeline > div > h2,
    .activation-examples > div > h2 {
      font-size: 3.375em;
      /*font-size: 3.75vw;*/
      max-width: none;
    }
  }

  main > section > div > *:first-child {
    margin-top: 0;
  }
  main > section > div > *:last-child {
    margin-bottom: 0;
  }


  .timeline dl {
    letter-spacing: 0.1em;
    max-width: none;
  }
  .activation-examples ul + p:last-child,
  .timeline dl + p:last-child {
    margin-top: 3em;
    margin-bottom: 1.25em;
  }

  @media (min-width: 40em) { /* @medium-size-screen */
    .activation-examples ul + p:last-child,
    .timeline dl + p:last-child {
      margin-top: 4.5em;
      margin-bottom: 1.5em;
    }
  }


  .activation-examples ul,
  .activation-examples li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .activation-examples ul {
    max-width: none;
  }
  .activation-examples li,  
  .timeline dt {
    margin-top: 3em;
    font-weight: 600;
    text-transform: uppercase;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    .activation-examples li,  
    .timeline dt {
      font-size: 0.75em;
    }
  }
  .timeline dt {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .activation-examples li img,
  .timeline dt img {
    width: auto;
    height: 4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
  }

  .timeline dt strong {
    font-weight: inherit;
    color: white;
  }

  .timeline dd {
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 0;
    margin-left: 0;
  }

  .timeline dd strong {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .timeline dl {
    margin-bottom: 3em;
  }

  @supports (display: grid) {
    @media (min-width: 40em) {
      .activation-examples ul {
        display: grid;
        grid-column-gap: 1.5em;
        grid-template-columns: 1fr 1fr;
        max-width: none;
      }
    }
    @media (min-width: 60em) {
      .activation-examples ul,
      .timeline dl {
        display: grid;
        grid-column-gap: 1.5em;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: none;
      }
      .activation-examples li:nth-child(3n+1):last-child {
        grid-column: span 3;
      }
      .timeline dt:nth-of-type(1),
      .timeline dt:nth-of-type(2),
      .timeline dt:nth-of-type(3) {
        grid-row: 1 / 2;
        align-self: end;
      }
      .timeline dd:nth-of-type(1),
      .timeline dd:nth-of-type(2),
      .timeline dd:nth-of-type(3) {
        grid-row: 2 / 3;
        align-self: start;
      }
      .timeline dt:nth-of-type(4),
      .timeline dt:nth-of-type(5),
      .timeline dt:nth-of-type(6) {
        grid-row: 3 / 4;
        align-self: end;
      }
      .timeline dd:nth-of-type(4),
      .timeline dd:nth-of-type(5),
      .timeline dd:nth-of-type(6) {
        grid-row: 4 / 5;
        align-self: start;
      }
      .timeline dt:nth-of-type(7) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        align-self: end;
      }
      .timeline dd:nth-of-type(7) {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        align-self: end;
      }
    }
  }
