

  /* =Section
  ----------------------------------------------- */
  .standard-section {
    margin: 3em -1.5em;
    padding: 3em 1.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    .standard-section {
      margin: 6em -4.5em;
      padding: 4.5em;
    }
  }
  .standard-section > div > h2 {
    margin-top: 0;
    color: inherit;
    font-size: 1.75em;
    line-height: 1.2857142857; /* (1.5 / 1.75) x 1.5 */
    font-style: italic;
    margin-bottom: 1;
  }
  @media (min-width: 40em) {
    .standard-section > div > h2 {
      font-size: 3.375em;
      font-size: 3.75vw;
      max-width: none;
    }
  }


  main > .timeline {
    /* margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0; */
    display: block;
  }

  main > .timeline dl {
    color: inherit; /* @blueberry */
    text-align: left;
  }
  main > p + .timeline {
    background-image: url(/assets/images/home/airplane.svg);
    background-size: 75em auto;
    background-position: 1.5em 0;
    background-repeat: no-repeat;
    grid-column: 1 / -1;
  }
  @media (min-width: 40em) {
    main > p + .timeline {
      background-position: 4.5em 0;
    }
  }
  main > .timeline h2 {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(141, 208, 59); /* @lime */
    color: rgb(255, 194, 51); /* @banana */
  }
  main > .timeline p strong {
    color: inherit;
  }
  main > .timeline p:not(.action) a {
    color: inherit;
  }

  main > h1 + .timeline {
    margin-top: -4.5em;
  }


  main > .timeline dl {
    max-width: none;
    text-align: center;
  }
  main > .timeline dl + p:last-child {
    margin-top: 3em;
    margin-bottom: 1.25em;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 40em) { /* @medium-size-screen */
    main > .timeline dl + p:last-child {
      margin-top: 7.5em;
      margin-bottom: 1.5em;
    }
  }


  main > .timeline dt {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 4.5rem;
    font-size: 0.75em;
    color: inherit;
    font-weight: 400;
  }
  main > .timeline dt img {
    width: auto;
    height: 7.5em;
    display: block;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }

  main > .timeline dt strong,
  main > .timeline dd strong {
    color: rgb(249, 160, 51); /* @tangerine */
      font-weight: bold;
  }

  main > .timeline dd {
    padding-left: 0;
    margin-left: 0;
    color: inherit;
  }

  main > .timeline dd {
    font-weight: 600; /* @semibold */
  }

  main > .timeline dl {
    margin-bottom: 0;
  }

  @supports (display: grid) {
    @media (min-width: 30em) {
      main > .timeline dl {
        display: grid;
        grid-column-gap: 3em;
        grid-template-columns: 1fr 1fr;
      }
      main > .timeline dt:nth-of-type(1),
      main > .timeline dt:nth-of-type(3),
      main > .timeline dd:nth-of-type(1),
      main > .timeline dd:nth-of-type(3) {
        grid-column: 1/2;
      }
      main > .timeline dt:nth-of-type(2),
      main > .timeline dt:nth-of-type(4),
      main > .timeline dd:nth-of-type(2),
      main > .timeline dd:nth-of-type(4) {
        grid-column: 2/3;
      }
      main > .timeline dt:nth-of-type(1),
      main > .timeline dt:nth-of-type(2) {
        grid-row: 1 / 2;
        align-self: end;
      }
      main > .timeline dd:nth-of-type(1),
      main > .timeline dd:nth-of-type(2) {
        grid-row: 2 / 3;
        align-self: start;
      }
      main > .timeline dt:nth-of-type(3),
      main > .timeline dt:nth-of-type(4) {
        grid-row: 3 / 4;
        align-self: end;
      }
      main > .timeline dd:nth-of-type(3),
      main > .timeline dd:nth-of-type(4) {
        grid-row: 4 / 5;
        align-self: start;
      }
    }
    @media (min-width: 85em) {
      main > .timeline dl {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      main > .timeline dt:nth-of-type(n) {
        grid-row: 1 / 2;
        grid-column: auto;
      }
      main > .timeline dd:nth-of-type(n) {
        grid-row: 2 / 3;
        grid-column: auto;
      }
    }
  }
  

  main > .steps {
    background-color: rgb(255, 194, 51); /* @banana */
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: white;
  }
  main > .steps dl {
    max-width: none;
  }
  main > .steps dt,
  main > .steps dd {
    margin-left: 0;
    padding-left: 0;
  }
  main > .steps dt {
    font-weight: 600; /* @semibold */
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  main > .steps img[src*="watering-can"] {
    height: 9em;
    width: auto;
    display: block;
  }
  main > .steps dl img {
    width: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
  }
  main > .steps dl img[src*="3.svg"] {
    width: 4em;
  }
  main > .steps dd + dt {
    margin-top: 4.5em;
  }
  
  @supports (display: grid) {
    @media (min-width: 30em) {

      main > .steps dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 4.5em;
      }
      main > .steps dd + dt {
        margin-top: 0;
      }
      main > .steps dd {
        align-self: center;
        text-align: left;
      }

    }
    
    @media (min-width: 60em) {
      
      main > .steps img[src*="watering-can"] {
        height: 9em;
        width: auto;
        margin-left: 50%;
        transform: translateX(-100%);
        margin-bottom: -3em;
      }
      
      main > .steps dl {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4.5em;
        grid-row-gap: 1.5em;
      }
      main > .steps dt {
        grid-row: 1/2;
        align-self: end;
      }
      main > .steps dd {
        grid-row: 2/3;
        align-self: start;
        text-align: center;
      }
    }
  }

