
  @charset "utf-8";

  /*
  Sections are grouped under headings with a “=” symbol,
  to make searching easier.

  When a style is used more than once, it sometimes has a “@keyword”
  in a comment next to it (to help with search and replace).

  For example…

  16px  @font-size
  24px  @line-height
  32em  @page-max-width
  */

  abbr {
    text-decoration: none;
  }


  /* =Colors
  ----------------------------------------------- */
  body {
    background: rgb(245, 245, 245);
    background: rgb(252, 252, 252);
    color: rgba(82, 82, 82);
    color: rgba(82, 82, 82, 0.9);
  }

  h1, h2, h3, h4, h5, h6, strong, em {
    color: rgb(237, 59, 136); /* @strawberry */
  }

  a {
    color: rgb(255, 194, 51); /* @banana */
    color: rgb(237, 192, 50); /* @dark-banana */
    color: rgb(141, 208, 59); /* @lime */
    color: rgb(101, 168, 19); /* @dark-lime */
    color: rgb(249, 160, 51); /* @tangerine */
    color: rgb(239, 150, 41); /* @dark-tangerine */
    color: rgb(237, 59, 136); /* @strawberry */
    transition: all 0.2s;
    font-weight: 600; /* @semibold */
  }
  a:hover,
  a:active,
  a:focus {
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(6, 179, 188); /* @blueberry */
  }

  @supports (false) and (background-image: linear-gradient(white, white)) and (color: currentColor) {
    main p:not(.action) a {
      text-decoration: none;
      background-image: linear-gradient(to top, transparent, transparent 7.5%, currentColor 7.5%, currentColor 12.5%, transparent 12.5%, transparent); /* @dark-tangerine */
      transition: all 0.2s;
    }
  }

  header,
  footer {
    background-color: rgb(237, 59, 136); /* @strawberry */
    color: white;
    margin-left: -1.5em;
    margin-right: -1.5em;
    padding: 3em 1.5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    header,
    footer {
      margin-left: -3em;
      margin-right: -3em;
      padding: 4.5em 3em;
    }
  }

  header a,
  footer a {
    color: white;
    color: rgb(255, 194, 51); /* @banana */
    text-transform: uppercase;
    font-weight: 600; /* @semibold */
    letter-spacing: 0.05em;
    text-decoration: none;
  }
  header a:hover,
  header a:active,
  header a:focus,
  footer a:hover,
  footer a:active,
  footer a:focus {
    color: rgb(6, 179, 188); /* @blueberry */
  }

  footer {
    background: rgb(245, 245, 245);
    background: rgb(235, 235, 235);
    color: inherit;
  }
  footer a {
    color: inherit;
  }
  footer a:hover,
  footer a:active,
  footer a:focus {
    color: rgb(6, 179, 188); /* @blueberry */
  }


  /*
  .action {
    margin-top: 3em;
    margin-bottom: 6em;
  }
  */
  h2 + .action,
  h3 + .action,
  p + .action,
  ul + .action {
    margin-top: 1.5em;
  }
  .action ul,
  .action li {
    list-style: none;
    padding-left: 0;
  }
  .action li {
    margin-bottom: 0.75em;
  }
  .action li a {
    width: 100%;
    box-sizing: border-box;
  }
  @media (min-width: 25em) {
    .action ul {
      display: flex;
      justify-content: center;
    }
    .action li {
      margin: 0 0.5em;
    }
  }
  .action a {
    background-color: rgb(101, 168, 19); /* @dark-lime */
    background-color: rgb(239, 150, 41); /* @dark-tangerine */
    background-color: rgb(237, 59, 136); /* @strawberry */
    color: white;
    padding: 0.75em 1.5em;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600; /* @semibold */
    letter-spacing: 0.05em;
  }
  .action a:hover,
  .action a:active,
  .action a:focus {
    background-color: rgb(237, 59, 136); /* @strawberry */
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: white;
  }


  /* =Key Dates
  ----------------------------------------------- */
  .key-dates {

  }


  /* =In Depth
  ----------------------------------------------- */
  main > section {
    margin-left: -1.5em;
    margin-right: -1.5em;
    padding: 3em 1.5em;
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);

    /*
    border-width: 0.125em 0 0;
    border-style: solid;
    border-color: rgb(217, 217, 217);
    */
  }
  .timeline {
    text-align: center;
  }
  main > h1 + section,
  main > h1 + .action + section,
  main > section + section {
    margin-top: -4.5em;
  }
  main > section:nth-of-type(2n) {
    background: white;
  }
  main > section.in-depth {
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: white;
  }
  main > section.in-depth a:hover,
  main > section.in-depth a:active,
  main > section.in-depth a:focus {
    color: inherit;
  }
  main > section.timeline {
    background-color: rgb(255, 194, 51); /* @banana */
    color: white;
  }
  main > h1 + section.timeline {
    margin-top: -7.5em;
    padding-top: 0;
  }
  .in-depth h2 + p {
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900; /* @black */
    max-width: none;
  }

  .in-depth h2 + p strong {
    color: inherit;
    font-weight: inherit;
  }
  .in-depth h2 + p strong em {
    color: rgb(237, 59, 136); /* @strawberry */
    font-style: normal;
    display: inline-block;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    .in-depth h2 + p {
      font-size: 4vmax;
    }
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    main > section {
      margin-left: -3em;
      margin-right: -3em;
      padding: 4.5em 3em;
    }
  }
  .timeline > div > h2,
  .in-depth > div > h2 {
    margin-top: 0;
    font-style: italic;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 3em;
  }
  main > section > div > *:first-child {
    margin-top: 0;
  }
  main > section > div > *:last-child {
    margin-bottom: 0;
  }


  .timeline dl {
    letter-spacing: 0.1em;
    max-width: none;
  }
  .timeline dl + p {
    margin-top: 3em;
    margin-bottom: 4.5em;
  }

  .timeline dt {
    margin-top: 3em;
    font-weight: 600;
    color: rgb(237, 59, 136); /* @strawberry */
    text-transform: uppercase;
  }
  .timeline dt img {
    width: auto;
    height: 4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
  }

  .timeline dt strong {
    font-weight: inherit;
    color: white;
  }

  .timeline dd {
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 0;
    margin-left: 0;
  }

  .timeline dd strong {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .timeline:not(.has-icons) dl {
        margin-top: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
      }
      .timeline:not(.has-icons) dt {
        justify-self: end;
        margin-top: 0;
        text-align: right;
      }
      .timeline:not(.has-icons) dd {
        text-align: left;
      }
      .timeline.has-icons dl {
        display: grid;
        grid-column-gap: 1.5em;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .timeline.has-icons dt:nth-of-type(1),
      .timeline.has-icons dt:nth-of-type(2),
      .timeline.has-icons dt:nth-of-type(3) {
        grid-row: 1 / 2;
        align-self: end;
      }
      .timeline.has-icons dd:nth-of-type(1),
      .timeline.has-icons dd:nth-of-type(2),
      .timeline.has-icons dd:nth-of-type(3) {
        grid-row: 2 / 3;
        align-self: end;
      }
      .timeline.has-icons dt:nth-of-type(4),
      .timeline.has-icons dt:nth-of-type(5),
      .timeline.has-icons dt:nth-of-type(6) {
        grid-row: 3 / 4;
        align-self: end;
      }
      .timeline.has-icons dd:nth-of-type(4),
      .timeline.has-icons dd:nth-of-type(5),
      .timeline.has-icons dd:nth-of-type(6) {
        grid-row: 4 / 5;
        align-self: end;
      }
      .timeline.has-icons dt:nth-of-type(7) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        align-self: end;
      }
      .timeline.has-icons dd:nth-of-type(7) {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        align-self: end;
      }
    }
  }


  /* =Type
  ----------------------------------------------- */
  body {
    font: 100%/1.5 "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 1.5em;
    /*
    text-align: center;
    */
  }

  .activate-tag {
    font-weight: bold;
    letter-spacing: 0.2em;
    color: rgb(237, 59, 136); /* @strawberry */
  }

  /*
  main > ul,
  main *:not(.action) > ul {
    list-style: none;
    padding-left: 0;
  }*/
  /*
  main li {
    margin-top: 0.75em;
    padding-top: 0.75em;
    border-width: 0.125em 0 0;
    border-style: solid;
    border-color: rgba(217, 217, 217, 0.5);
  }
  */
  /*
  main > ul li,
  main *:not(.action) > ul li {
    background: rgba(217, 217, 217, 0.15);
    padding: 0.75em 1.5em;
    text-align: left;
  }
  main > ul li:nth-child(2n),
  main *:not(.action) > ul li:nth-child(2n) {
    background: rgba(217, 217, 217, 0.5);
    color: black;
  }
  */

  @media (min-width: 40em) { /* @medium-size-screen */
    body {
      padding: 0 3em 0;
    }
  }

  /* OPTIONAL: Increase the font size on big screens. */
  @media screen and (min-width: 600px) {
    html {
      font-size: 112.5%;
    }
  }
  @media screen and (min-width: 800px) {
    html {
      font-size: 125%;
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 137.5%;
    }
  }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 150%;
    }
  }

  .avoid-break {
    display: inline-block;
  }

  /* Limit line lengths, for readability. */
  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure, hr {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }

  /* http://type-scale.com/?size=16&scale=1.500&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333 */
  h1 {
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 900; /* @black */
    font-size: 2em;
    line-height: 1;
    letter-spacing: 2px;
    color: rgb(6, 179, 188); /* @blueberry */
  }
  h2 {
    margin-top: 3rem;
    font-size: 1.75em;
    line-height: 1.2857142857; /* (1.5 / 1.75) x 1.5 */
  }
  h3 {
    margin-top: 3rem;
    font-size: 1.5em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
  }
  h6 {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
  }

  @media (min-width: 40em) {
    h1 {
      font-size: 3.375em;
      font-size: 6vmax;
    }
    h2 {
      font-size: 2.25em;
    }
  }

  h1 em {
    color: rgb(249, 160, 51); /* @tangerine */
    display: inline-block;
    font-style: normal;
  }

  main h2 em,
  main h2 strong,
  main h3 em,
  main h3 strong {
    display: inline;
    font-style: italic;
    font-weight: 900; /* @black */
    text-transform: uppercase;
    background-image: linear-gradient(to top, transparent, transparent 5%, rgb(237, 192, 50) 5%, rgb(237, 192, 50) 65%, transparent 65%, transparent); /* @dark-banana */
  }
  main h2 em,
  main h3 em {
    background-image: linear-gradient(to top, transparent, transparent 5%, rgb(6, 179, 188) 5%, rgb(6, 179, 188) 65%, transparent 65%, transparent); /* @blueberry */
  }

  @media (min-width: 40em) { /* @medium-size-screen */
    main h2 em,
    main h2 strong {
      font-size: 4vmax;
    }
  }

  @supports (text-shadow: 0 0 0 rgb(0, 0, 0)) {
    main h2 em,
    main h2 strong,
    main h3 em,
    main h3 strong {
      position: relative;
      left: 0.2em;
      /*
      margin-right: 0.2em;
      */
      color: transparent;
      text-shadow: -0.2em 0 0 rgb(237, 59, 136); /* @strawberry */
    }
    main h2 em,
    main h3 em {
      text-shadow:
        -0.20em  0.00em 0 white,
        -0.25em -0.05em 0 rgb(6, 179, 188), /* top left */
        -0.20em -0.05em 0 rgb(6, 179, 188), /* top */
        -0.15em -0.05em 0 rgb(6, 179, 188), /* top right */
        -0.15em  0.00em 0 rgb(6, 179, 188), /* right */
        -0.15em  0.05em 0 rgb(6, 179, 188), /* bottom right */
        -0.20em  0.05em 0 rgb(6, 179, 188), /* bottom */
        -0.25em  0.05em 0 rgb(6, 179, 188), /* bottom left */
        -0.25em  0.00em 0 rgb(6, 179, 188)  /* left */
        ; /* @blueberry */
    }
  }

  header h2,
  footer h2 {
    display: table;
    font-weight: 500; /* @medium */
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(249, 160, 51); /* @tangerine */
    color: rgb(255, 194, 51); /* @banana */
    line-height: 1;
    text-align: center;
  }
  footer h2 {
    color: inherit;
  }
  footer h2 a {
    opacity: 0.25;
  }
  header h2 em,
  footer h2 em {
    font-weight: bold;
    color: inherit;
  }
  header h2 a,
  footer h2 a {
    color: inherit;
  }
  header h2 a:hover,
  header h2 a:active,
  header h2 a:focus,
  footer h2 a:hover,
  footer h2 a:active,
  footer h2 a:focus {
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(6, 179, 188); /* @blueberry */
    opacity: 1;
  }

  hr {
    margin-top: 3em;
    /*
    margin-bottom: 3em;
    */
    border-width: 0 0 0.125em;
    border-style: solid;
    border-color: rgb(217, 217, 217);
    border-color: transparent;
  }

  main {
    padding-bottom: 4.5em;
  }
  main > section:last-child {
    margin-bottom: -4.5em;
  }

  header ul,
  header li,
  footer ul,
  footer li {
    list-style: none;
    padding-left: 0;
  }
  header li,
  footer li {
    display: inline;
    margin: 0 0.5em;
  }


  /* =Aside
  ----------------------------------------------- */
  aside {
    /*
    background: rgb(235, 235, 235);
    */
    padding: 3em 1.5em 3em 1.5em;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    aside {
      padding: 4.5em 3em 4.5em 3em;
    }
  }
  aside {
    margin-left: -1.5em;
    margin-right: -1.5em;
    padding: 3em 1.5em;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    aside {
      margin-left: -3em;
      margin-right: -3em;
      padding: 4.5em 3em;
    }
  }
  aside + aside {
    background-color: rgb(255, 194, 51); /* @banana */
    background-color: rgb(249, 160, 51); /* @tangerine */
    background-color: rgb(141, 208, 59); /* @lime */
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: white;
    color: black;
    color: rgba(0, 0, 0, 0.75);
  }
  aside + aside h3,
  aside + aside a {
    color: white !important;
  }
  aside + aside a:hover,
  aside + aside a:active,
  aside + aside a:focus {
    color: rgb(237, 59, 136) !important; /* @strawberry */
  }
  aside + aside .action a {
    background-color: rgb(6, 179, 188); /* @blueberry */
    background-color: rgb(255, 194, 51); /* @banana */
    color: black !important;
    color: rgba(0, 0, 0, 0.65) !important;
  }
  aside + aside .action a:hover,
  aside + aside .action a:active,
  aside + aside .action a:focus {
    background-color: rgb(6, 179, 188); /* @blueberry */
    background-color: rgb(237, 59, 136); /* @strawberry */
  }
  aside > div > *:first-child {
    margin-top: 0;
  }
  aside > div > *:last-child {
    margin-bottom: 0;
  }
  .disabled aside + aside {
    /*
    background: rgb(244, 244, 244);
    */
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  /* =Layout
  ----------------------------------------------- */
  main > h1:first-child {
    background-color: rgb(237, 59, 136); /* @strawberry */
    color: white;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 0 1.5rem 4.5rem;
    margin-top: 0;
    margin-bottom: 4.5rem;
    text-align: center;
    max-width: none;
  }
  main > h1:first-child > span:not(.avoid-break) {
    display: block;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    main > h1:first-child {
      margin-left: -3rem;
      margin-right: -3rem;
      padding: 0rem 3rem 6rem;
    }
  }
  main > h1:first-child em {
    color: rgb(255, 194, 51); /* @banana */
  }
  main > h1:first-child + .action {
    background-color: rgb(237, 59, 136); /* @strawberry */
    color: white;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1.5em 1.5em 3em;
    margin-top: -6em;
    margin-bottom: 4.5em;
  }
  @media (min-width: 40em) { /* @medium-size-screen */
    main > h1:first-child + .action {
      margin-left: -3em;
      margin-right: -3em;
      margin-top: -9em;
      padding: 3em 3em 6em;
    }
  }
  main > h1:first-child + .action ul {
    text-align: center;
    max-width: none;
  }
  footer .action a,
  main > h1:first-child + .action a {
    background-color: rgb(255, 194, 51); /* @banana */
    color: black;
    color: rgba(0, 0, 0, 0.65);
  }
  footer .action a:hover,
  footer .action a:active,
  footer .action a:focus,
  main > h1:first-child + .action a:hover,
  main > h1:first-child + .action a:active,
  main > h1:first-child + .action a:focus {
    background-color: rgb(6, 179, 188); /* @blueberry */
  }

  header,
  footer {
    text-align: center;
  }
  header h2,
  footer h2 {
    margin-bottom: 3rem;
  }
  header h2 {
    margin-top: 0;
  }

  footer .action {
    margin-top: 3em;
  }

  footer > p a {
    display: inline-block;
  }

  @supports (display: grid) {
    @media (min-width: 60em) {
      header,
      footer {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 3em;
        grid-row-gap: 6em;
        text-align: left;
      }
      footer {
        grid-row-gap: 0em;
      }
      header h2,
      footer h2,
      footer .action {
        margin: 0;
        justify-self: start;
      }
      footer .action {
        align-self: end;
      }
      header ul,
      footer ul {
        margin: 0;
        justify-self: end;
      }
      footer h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      footer h2 + ul {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: right;
        margin-right: -0.5em;
      }
      footer > p:not(.action) {
      	margin: 0;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        justify-self: center;
      }
      footer > p:not(.action) + p:not(.action) {
        grid-row: 4 / 5;
      }
      footer .social-links {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: end;
        text-align: right;
        white-space: nowrap;
      }

      main {
        /*display: grid;*/
        grid-template-columns: 1fr 40rem 1fr;
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em;
        align-items: start;
      }
      main h1 {
        grid-column: span 3;
      }
      /*
      h2 {
        margin-top: 0;
        grid-column: 1 / 2;
        grid-row: span 2;
        align-self: top;
      }
      */
/*      main h2,
      main h3,
      main p,
      main ul,
      main dl {
        margin-top: 0;
        grid-column: 2 / 3;
      }
      main section {
        grid-column: 1 / 4;
      }*/
    }
  }


  /* =Social
  ----------------------------------------------- */
  footer .social-links {
    font-size: 3em;
  }
  footer .social-links li {
    margin-left: -0.125em;
    margin-right: -0.125em;
  }
  footer .social-links li svg {
    width: 1em;
    height: 1em;
  }
  footer .social-links li svg path {
    fill: currentColor;
  }


  /* =Color
  ----------------------------------------------- */
  .blueberry header,
  .blueberry main > h1:first-child {
    background-color: rgb(6, 179, 188); /* @blueberry */
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .blueberry header a,
  .blueberry main > h1:first-child em {
    color: rgb(237, 59, 136); /* @strawberry */
    color: white;
  }
  .blueberry header a:hover,
  .blueberry header a:active,
  .blueberry header a:focus  {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .blueberry main > h1:not(:first-child),
  .blueberry main > h2,
  .blueberry main > h3,
  .blueberry aside > h3,
  .blueberry main > p strong,
  .blueberry main > p em,
  .blueberry main > p a,
  .blueberry aside > p a {
    color: rgb(6, 179, 188); /* @blueberry */
    color: rgb(237, 59, 136); /* @strawberry */
  }


  .lime header,
  .lime main > h1:first-child {
    background-color: rgb(141, 208, 59); /* @lime */
  }
  .lime header a {
    color: white;
  }
  .lime header a:hover,
  .lime header a:active,
  .lime header a:focus  {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .lime main > h1:first-child {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .lime main > h1:not(:first-child),
  .lime main > h2,
  .lime main > h3,
  .lime aside > h3,
  .lime main > p strong,
  .lime main > p em,
  .lime main > p a,
  .lime aside > p a {
    color: rgb(141, 208, 59); /* @lime */
    color: rgb(237, 59, 136); /* @strawberry */
  }


  .tangerine header,
  .tangerine main > h1:first-child {
    background-color: rgb(249, 160, 51); /* @tangerine */
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .tangerine header a,
  .tangerine main > h1:first-child em {
    color: rgb(237, 59, 136); /* @strawberry */
    color: white;
  }
  .tangerine header a:hover,
  .tangerine header a:active,
  .tangerine header a:focus  {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .tangerine main > h1:not(:first-child),
  .tangerine main > h2,
  .tangerine main > h3,
  .tangerine aside > h3,
  .tangerine main > p strong,
  .tangerine main > p em,
  .tangerine main > p a,
  .tangerine aside > p a {
    color: rgb(237, 59, 136); /* @strawberry */
  }


  .banana header,
  .banana main > h1:first-child {
    background-color: rgb(255, 194, 51); /* @banana */
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .banana header a,
  .banana main > h1:first-child em {
    color: rgb(237, 59, 136); /* @strawberry */
    color: white;
  }
  .banana header a:hover,
  .banana header a:active,
  .banana header a:focus  {
    color: rgb(237, 59, 136); /* @strawberry */
  }
  .banana main > h1:not(:first-child),
  .banana main > h2,
  .banana main > h3,
  .banana aside > h3,
  .banana main > p strong,
  .banana main > p em,
  .banana main > p a,
  .banana aside > p a {
    color: rgb(237, 59, 136); /* @strawberry */
    color: rgb(237, 59, 136); /* @strawberry */
  }


  /* =Fonts
  ----------------------------------------------- */
  @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=68f50139-da27-4c8c-adaa-c005a8fd2b7a");

  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/64779e28-a3b8-4364-949c-771372a0a327.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/87a872d0-5af3-4231-a77c-37f41ec74662.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/91464696-717b-4eaa-adbd-0dfc5e5fd782.svg#91464696-717b-4eaa-adbd-0dfc5e5fd782") format("svg");
    font-style: normal;
    font-weight: 100; /* @thin */

  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/41537dd7-434f-4f85-b9d9-a88b160bc18d.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/41537dd7-434f-4f85-b9d9-a88b160bc18d.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/ec2dd1bd-4391-4b89-bf85-1a2346ea4342.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/fcf6f211-efa2-40f6-9c6b-e0ca63b6ea60.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/60fcc194-9529-4b99-9506-cdb26642656a.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/c110f1ef-6fdf-4008-bc75-b370649384a3.svg#c110f1ef-6fdf-4008-bc75-b370649384a3") format("svg");
    font-style: italic;
    font-weight: 100; /* @thin */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/17c55b27-e9ab-43cd-b948-d49f97480d68.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/17c55b27-e9ab-43cd-b948-d49f97480d68.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/2e3f5cb9-101f-46cf-a7b3-dfaa58261e03.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/fa19948e-5e38-4909-b31e-41acd170d6f2.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/6de0ce4d-9278-467b-b96f-c1f5f0a4c375.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/9fd4ea0c-b19a-4b21-9fdf-37045707dd78.svg#9fd4ea0c-b19a-4b21-9fdf-37045707dd78") format("svg");
    font-style: italic;
    font-weight: 200; /* @extralight */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/8b498c39-fabe-4789-bb81-5e37c9ecddd3.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/8b498c39-fabe-4789-bb81-5e37c9ecddd3.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/1c6c1881-23c9-4d6a-a018-759d1c9ded15.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/f0d655c5-a88a-49ad-bb29-f3b5cca41731.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/3a561c83-40d4-4868-8255-e8455eb009c4.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/3966f856-9dcf-48e7-88e7-7400f1b7d619.svg#3966f856-9dcf-48e7-88e7-7400f1b7d619") format("svg");
    font-style: italic;
    font-weight: 200; /* @extralight */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/49c5f3e1-5867-4b1d-a843-2d07fa60d85d.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");
    font-style: normal;
    font-weight: 300; /* @light */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/62e28d52-436d-40b8-a5f0-00479f3f44ed.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/5b8c6fdc-0ba4-4b65-87e4-d5ae51245ea5.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/c677d79d-442e-4c76-8db1-c29ac7788039.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/216291a0-f927-4f75-9de7-6e36c7fd7ebf.svg#216291a0-f927-4f75-9de7-6e36c7fd7ebf") format("svg");
    font-style: italic;
    font-weight: 300; /* @light */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
    font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
    font-style: italic;
    font-weight: normal;
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
    font-style: normal;
    font-weight: 500; /* @medium */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/3f380a53-50ea-4a62-95c5-d5d8dba03ab8.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/b28b01d9-78c5-46c6-a30d-9a62c8f407c5.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/ed4d3c45-af64-4992-974b-c37cd12a9570.svg#ed4d3c45-af64-4992-974b-c37cd12a9570") format("svg");
    font-style: italic;
    font-weight: 500; /* @medium */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");
    font-style: italic;
    font-weight: 600; /* @semibold */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
    font-style: normal;
    font-weight: 600; /* @semibold */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
    font-style: normal;
    font-weight: bold;
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/4112ec87-6ded-438b-83cf-aaff98f7e987.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/ab1835cb-df6f-4d8d-b8ee-3075f5ba758d.svg#ab1835cb-df6f-4d8d-b8ee-3075f5ba758d") format("svg");
    font-style: italic;
    font-weight: bold;
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/5c57b2e2-f641-421e-a95f-65fcb47e409a.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/3c111f4f-c9f7-45d4-b35f-4f4ed018842f.svg#3c111f4f-c9f7-45d4-b35f-4f4ed018842f") format("svg");
    font-style: normal;
    font-weight: 900; /* @black */
  }
  @font-face{
    font-family:"Avenir Next";
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/ca9162bc-20bd-4810-91a9-e816fdc64dae.eot?#iefix");
    src:url("https://jimthoburn.com/fonts-temp-for-la2050/ca9162bc-20bd-4810-91a9-e816fdc64dae.eot?#iefix") format("eot"),url("https://jimthoburn.com/fonts-temp-for-la2050/71b9791b-4350-4b52-8b43-c03b82004511.woff2") format("woff2"),url("https://jimthoburn.com/fonts-temp-for-la2050/8c17992f-c017-49e0-b573-779f62016f06.woff") format("woff"),url("https://jimthoburn.com/fonts-temp-for-la2050/2b4885a7-fc02-4aa0-b998-5b008a589c80.ttf") format("truetype"),url("https://jimthoburn.com/fonts-temp-for-la2050/9b40a6ef-0ef5-49c0-aa8d-5ba7e8e7d9b7.svg#9b40a6ef-0ef5-49c0-aa8d-5ba7e8e7d9b7") format("svg");
    font-style: italic;
    font-weight: 900; /* @black */
  }
