---
layout: default
# Use the default description, since this page doesn’t contain general text
use_default_meta_description: true
stylesheets:
  - "/assets/css/project-list.css"
---

{% unless page.category %}
  {% assign page.category = "live" %}
{% endunless %}


{% if page.winners == true %}
<h1><span>Winners</span></h1>

<style>

main > h1:first-child {
  position: relative;
}
main > h1:first-child span {
  text-shadow: 0 0 0.5em var(--banana);
}
main > h1:first-child::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/winners.svg);
  background-size: 100vmax auto;
  background-position: top;
}

</style>
{% elsif page.finalists == true %}
<h1>
  {% include city-illustration.html %}
  Finalists{% if page.category %} in the <strong style="text-transform: uppercase; letter-spacing: 0.05em;">{{ page.category }}</strong> category{% endif %}
  <small style="font-style: normal;display: block;">
    <small style="letter-spacing: 0; font-style: normal;">
      Learn <strong style="font-weight: inherit; color: inherit;"><a href="/about/" style="color: inherit; font-weight: inherit;">about the challenge</a></strong>.
    </small>
  </small>
</h1>
{% else %}
  {% if site.phase >= 4 and site.phase <= 5 %}
    <h1>
      {% include city-illustration.html %}
      <span style="max-width: 23em; display: block; margin-left: auto; margin-right: auto;" id="primary-headline">
        Tell us… which of <a href="#projects" style="color: inherit; font-weight: inherit;">these proposals</a> will
        make <span class="avoid-break">Los Angeles</span> the best place{% if page.category %}  to <strong style="text-transform: uppercase; letter-spacing: 0.05em;">{{ page.category }}</strong>{% endif %}?<br /><br />
        <small style="font-style: normal;display: block;">
          <small style="letter-spacing: 0; font-style: normal;" class="avoid-break">
            {% if site.phase == 5 %}
              <strong style="font-weight: inherit; color: inherit;"><a href="/vote/" style="color: inherit; font-weight: inherit;">Public voting</a></strong> has started! <span class="avoid-break">Vote by <span class="avoid-break"><strong>April 29, 2019</strong>.</span></span>
            {% else %}
              <strong style="font-weight: inherit; color: inherit;"><a href="/vote/" style="color: inherit; font-weight: inherit;">Public voting</a></strong> begins on <span class="avoid-break"><strong>April 22, 2019</strong>.</span>
            {% endif %}
          </small>
          <small style="letter-spacing: 0; font-style: normal;" class="avoid-break">
            Learn <strong style="font-weight: inherit; color: inherit;"><a href="/about/" style="color: inherit; font-weight: inherit;">about the challenge</a></strong>.
          </small>
        </small>
      </span>
      <a href="#projects">
        <svg aria-label="Entries" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="44.8" height="51.2">
          <title>Entries</title>
          <path fill="currentColor" d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z" class=""></path>
        </svg>
      </a>
      <script>
      (function() {
        try {
          document.querySelectorAll(`a[href*="#projects"]`).forEach(projectsLink => {
            projectsLink.addEventListener("click", function(e) {
              let element = document.getElementById(projectsLink.getAttribute("href").replace("#", ""))
              if (element && element.scrollIntoView) {
                element.scrollIntoView({ behavior: 'smooth', block: 'start' })
              }
              e.preventDefault()
            })
          })
        } catch(e) {}
      })()
      </script>
      <script>
      (function() {
        try {
          document.querySelectorAll(`a[href="/entries/"]`).forEach(projectsLink => {
            projectsLink.addEventListener("click", function(e) {
              let element = document.getElementById("primary-headline")
              if (element && element.scrollIntoView) {
                element.scrollIntoView({ behavior: 'smooth', block: 'start' })
              }
              e.preventDefault()
            })
          })
        } catch(e) {}
      })()
      </script>
    </h1>
  {% else %}
    <h1>
      {% include city-illustration.html %}
      Entries{% if page.category %} in the <strong style="text-transform: uppercase; letter-spacing: 0.05em;">{{ page.category }}</strong> category{% endif %}
      <small style="font-style: normal;display: block;">
        <small style="letter-spacing: 0; font-style: normal;">
          Learn <strong style="font-weight: inherit; color: inherit;"><a href="/about/" style="color: inherit; font-weight: inherit;">about the challenge</a></strong>.
        </small>
      </small>
    </h1>
  {% endif %}
{% endif %}

{% assign conditional_finalists_url = "" %}

{% if page.finalists %}
{% assign conditional_finalists_url = "finalists/" %}
{% endif %}

{% assign do_show_entries = false %}
{% if site.phase >= 2 %}
{% if site.phase >= 4 or site.show_early_entries == true %}
  {% assign do_show_entries = true %}
{% endif %}
{% endif %}

{% if page.finalists and site.phase < 7 %}

<div class="introduction" markdown="1">
The finalists will appear here soon!
</div>

{% elsif page.winners and site.phase < 8 %}

<div class="introduction" markdown="1">
The winners will appear here on <strong>June 4, 2019</strong>.
</div>

{% elsif do_show_entries == false %}

<div class="introduction" markdown="1">
The entries will appear here by <strong>April 15, 2019</strong>.
</div>

{% else %}


{% assign data_collection = site.collections | where: "label", site.year | first %}
{% assign data_list = data_collection.docs %}

{% if page.category %}
  {% assign data_list = data_list | where: "category", page.category %}
{% endif %}


{% if page.winners and site.phase == 8 %}
<div class="introduction" style="margin-top: 6em; margin-bottom: 6em;">
  <p>
    Congratulations to the winners of the My LA2050 Grants Challenge!<br />
    <small style="font-style: inherit;">Learn <a href="/about/">about the challenge</a>.</small>
  </p>
</div>
<style>
@media (min-width: 40em) {
  .proposals.finalists {
    margin-top: 4.5em;
  }
}
</style>
{% endif %}


{% include project-navigation.html %}


<ul class="proposals {% if page.finalists or page.winners %}finalists{% endif %} {% if page.finalists or page.winners %}winners{% endif %}" id="project-list">

  {% unless page.winners %}
  {% comment %} Order alphabetically {% endcomment %}
  {% assign data_list = data_list | sort: "order" %}
  {% endunless %}

  {% for data in data_list %}

  {% assign do_show_item = false %}

  {% assign is_finalist = false %}
  {% for finalist in site.finalists %}
    {% if finalist == data.url %}
      {% assign is_finalist = true %}
    {% endif %}
  {% endfor %}

  {% assign is_winner = false %}
  {% for winner in site.winners %}
    {% if winner == data.url %}
      {% assign is_winner = true %}
    {% endif %}
  {% endfor %}

  {% if page.winners == true and is_winner == true %}
  {% assign do_show_item = true %}
  {% elsif page.finalists == true and is_finalist == true %}
  {% assign do_show_item = true %}
  {% elsif page.winners != true and page.finalists != true %}
  {% assign do_show_item = true %}
  {% endif %}

  {% if do_show_item == true %}

  {% if page.is_search_results %}<script type="text/template"
  data-organization_description="{{ data.organization_description }}"
  data-project_areas="{{ data.project_areas | join: ',' }}"
  data-organization_activity="{{ data.organization_activity }}"
  data-project_proposal_description="{{ data.project_proposal_description }}"
  data-project_measure="{{ data.project_measure }}"
  data-project_proposal_best_place="{{ data.project_proposal_best_place }}"
  data-category_metrics="{{ data.category_metrics }}"
  data-project_collaborators="{{ data.project_collaborators }}">{% endif %}
  {% if page.finalists or page.winners %}
  <li class="{{ data.category }}">
    <a href="{{ data.url }}">
      <span class="image" {% if data.project_image_color %}
        style="background-color: {{ data.project_image_color }}"{% endif %}>
        {% capture image_filename %}{{ data.filename }}.jpg{% endcapture %}
        {% capture image_category %}{{ data.year }}/{{ data.category }}{% endcapture %}
        <img
          src="{{ site.image_host }}/assets/images/{{ image_category }}/512-wide/{{ image_filename }}"
          srcset="{{ site.image_host }}/assets/images/{{ image_category }}/384-wide/{{ image_filename }} 384w, 
                  {{ site.image_host }}/assets/images/{{ image_category }}/512-wide/{{ image_filename }} 512w, 
                  {{ site.image_host }}/assets/images/{{ image_category }}/768-wide/{{ image_filename }} 768w, 
                  {{ site.image_host }}/assets/images/{{ image_category }}/1024-wide/{{ image_filename }} 1024w, 
                  {{ site.image_host }}/assets/images/{{ image_category }}/1536-wide/{{ image_filename }} 1536w, 
                  {{ site.image_host }}/assets/images/{{ image_category }}/2048-wide/{{ image_filename }} 2048w" 
          sizes="(min-width: 60em) 50vw, 100vw"
          width="500"
          alt="" />
      </span>
      <span class="text">
        {% if page.finalists or page.winners %}
        {% comment %}
        <p
          style="text-transform: none; text-decoration: none;">
          <span class="category" style="text-transform: uppercase; text-decoration: underline" onclick="window.location.href = '/{{ data['category']}}/#projects'; event.preventDefault()">{{ data['category'] }}</span> Winner
        </p>
        <h2 style="color: var(--primary-color); font-size: inherit;">LA2050 is proud to present…</h2>
        {% endcomment %}
        <p style="color: var(--primary-color); font-style: italic; color: inherit; font-weight: normal; font-size: 0.875em">
          <strong class="category" style="text-decoration: none"><span onclick="window.location.href = '/{{ data['category']}}/#projects'; event.preventDefault()">{{ data['category'] }}</span> {% if page.finalists %}finalist{% elsif page.winners %}winner{% endif %}</strong>
        </p>
        {% endif %}
        <h3>{{ data['title'] }}</h3>
        {% unless data['organization_name'] == data['title'] %}
        <p class="organization">{{ data['organization_name'] }}</p>
        {% endunless %}
        {% unless page.finalists or page.winners %}
        <p class="organization-type">{{ data.organization_description }}</p>
        <p class="description">{{ data['project_description'] }}</p>
        {% endunless %}
        <p class="action"><span>Read More</span></p>
      </span>
    </a>

    {% if page.winners %}
    <div class="proposal-share">

{% for twitter in data['organization_twitter'] limit:1 %}

{% if twitter contains "http" %}
{% assign twitter_url = twitter %}
{% elsif twitter contains "twitter.com/" %}
{% capture twitter_url %}https://{{ twitter }}{% endcapture %}
{% else %}
{% capture twitter_url %}https://twitter.com/{{ twitter | replace: "@", "" }}{% endcapture %}
{% endif %}

      <p>
        <span>
          <span style="margin-right: 0.375em;">Share:</span>
          <a href="https://twitter.com/share?url=https%3A%2F%2Fchallenge.la2050.org%2Fwinners%2F" onclick="window.location.href = 'https://twitter.com/share?text=' + encodeURIComponent('Congratulations to @{{ twitter | replace: "https://www.twitter.com/", "" | replace: "https://twitter.com/", "" | replace: "www.twitter.com/", "" | replace: "twitter.com/", "" | replace: "/", "" | replace: "@", "" }} for winning a $100K grant in the 2019 My LA2050 Grants Challenge! Check out the other @LA2050 winners!') + '&url=https%3A%2F%2Fchallenge.la2050.org%2Fwinners%2F'; event.preventDefault()">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="vertical-align: middle; margin-left: 0.75em">
              <title>Twitter</title>
              <switch>
                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class=""></path>
                <foreignObject>Twitter</foreignObject>
              </switch>
            </svg>
          </i>
          &nbsp;
          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fchallenge.la2050.org%2Fwinners%2F">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512" style="vertical-align: middle; margin-left: 0.75em">
              <title>Facebook</title>
              <switch>
                <path fill="currentColor" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229" class=""></path>
                <foreignObject>Facebook</foreignObject>
              </switch>
            </svg>
          </a>
        </span>
      </p>

{% endfor %}

    </div>
    {% endif %}

  </li>
  {% else %}
  <li class="{{ data.category }}">
    <a href="{{ data.url }}">
      <span class="image">
        {% capture image_filename %}{{ data.filename }}.jpg{% endcapture %}
        {% capture image_category %}{{ data.year }}/{{ data.category }}{% endcapture %}

        <img
          src="/assets/images/blank.png"
          data-src="{{ site.image_host }}/assets/images/{{ image_category }}/512-wide-with-aspect-10-8/{{ image_filename }}"
          data-srcset="{{ site.image_host }}/assets/images/{{ image_category }}/384-wide-with-aspect-10-8/{{ image_filename }} 384w, 
                       {{ site.image_host }}/assets/images/{{ image_category }}/512-wide-with-aspect-10-8/{{ image_filename }} 512w, 
                       {{ site.image_host }}/assets/images/{{ image_category }}/768-wide-with-aspect-10-8/{{ image_filename }} 768w, 
                       {{ site.image_host }}/assets/images/{{ image_category }}/1024-wide-with-aspect-10-8/{{ image_filename }} 1024w, 
                       {{ site.image_host }}/assets/images/{{ image_category }}/1536-wide-with-aspect-10-8/{{ image_filename }} 1536w, 
                       {{ site.image_host }}/assets/images/{{ image_category }}/2048-wide-with-aspect-10-8/{{ image_filename }} 2048w"
          sizes="(min-width: 45em) 20em, 100vw"
          width="500"
          alt="" />
      </span>
      {% unless data['organization_name'] == data['title'] %}
      <p class="organization" >{{ data['organization_name'] }}</p>
      {% endunless %}
      <h3>{{ data['title'] }}</h3>
      <p class="description">{{ data['project_description'] }}</p>
    </a>
  </li>
  {% endif %}

  {% if page.is_search_results %}</script>{% endif %}

  {% endif %}

  {% endfor %}

</ul>


{% if page.is_search_results %}
<script>
(function() {
  if (!document.body.querySelector || !document.createDocumentFragment) return;

  var form = document.getElementById('search');
  var field = form.querySelector('input[name="keywords"]');
  var projectList = document.getElementById('project-list');

  // http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    var name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var keywords = getParameterByName('keywords').trim();
  if (!keywords || !form || !field || !projectList) return; // TODO: Show an error message?

  field.value = keywords;
  var keywordsIndicator = document.getElementById('keywords');
  if (keywordsIndicator) keywordsIndicator.textContent = keywords;

  function containsKeyword(keyword, string) {

    // if (string.indexOf(keyword) >= 0) {
    //   console.log("/******")
    //   console.log("keyword: " + keyword);
    //   console.log("string: " + string);
    // }

    if (!keyword || keyword == '' || keyword.length < 2) return;

    keyword = keyword.toLowerCase();
    string = string.toLowerCase();

    var rank = 0;

    // If we’re only one character off, add a little rank
    // if (keyword.length >= 4) {
      // var similarity = 6 // https://en.wikipedia.org/wiki/Levenshtein_distance
      // if (subCompare(keyword, string, similarity).found === 1) rank += 0.1;
    // }
    // var distance = getLevenshteinenated(keyword, string)
    // if (distance < 5) rank += 0.1;

    if (string == keyword) rank++;

    // Keyword at the beginning of another word gets one point
    if (string.indexOf(' ' + keyword) >= 0) rank++;
    if (string.indexOf('>' + keyword) >= 0) rank++;

    // Keyword used as a word by itself gets one point
    // TODO: Handle punctuation or HTML elements, before or after the keyword
    if (string.indexOf(' ' + keyword + ' ') >= 0) rank++;
    if (string.startsWith(keyword + ' ')) rank++;
    if (string.indexOf('>' + keyword + ' ') >= 0) rank++;
    if (string.endsWith(' ' + keyword)) rank++;
    if (string.indexOf(' ' + keyword + "<") >= 0) rank++;

    // Multiple instances of keyword add additional points
    // KUDOS: https://stackoverflow.com/questions/881085/count-the-number-of-occurrences-of-a-character-in-a-string-in-javascript
    var numberOfMatches = (string.match(new RegExp(' ' + keyword, "g")) || []).length;
    if (numberOfMatches > 2) rank += (numberOfMatches - 1);

    // if (string.indexOf(keyword) >= 0) {
    //   console.log("rank: " + rank);
    //   console.log("******/")
    // }

    return rank;
  }

  function containsAnyKeyword(keywordList, string) {
    string = string.toLowerCase();
    var rank = 0;
    var nextRank = 0;
    for (var index = 0; index < keywordList.length; index++) {
      nextRank += containsKeyword(keywordList[index], string);

      // Add a little rank for a match without puncuation or tense
      var rootKeyword = keywordList[index].replace(/['‘’,"“”\.]/g, "").replace(/(ion|ing|ed|ies|s)$/, "")
      // var rootKeyword = keywordList[index].replace(/['‘’,"“”]/g, "").replace(/(ing|ed|s)$/, "")
      if (rootKeyword.length >= 3) {
        nextRank += containsKeyword(rootKeyword, string) * 0.1;
      }

      rank += nextRank;
    }
    return rank;
  }

  // function containsAllKeywords(keywordList, string) {
  //   for (var index = 0; index < keywordList.length; index++) {
  //     if (!containsKeyword(keywordList[index], string)) {
  //       return false;
  //     }
  //   }
  //   return true;
  // }

  // https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array#2450976
  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }

  function getKeywordList(keywords) {

    // SHIM: Assume that most folks will search with quotes around all of the search terms
    //       This could be made more robust by allowing quotes around only some of them
    if (
        keywords.indexOf('"') == 0
        && 
        keywords.lastIndexOf('"') == (keywords.length - 1)
      ) {

      return [keywords.substring(1, keywords.length - 1).trim()]
    }

    return keywords.replace(/\s/, ',').split(',')
  }

  function dataAttributeContainsMatch(element, attribute, keywordList, isList) {
    let value = element.getAttribute(attribute)
    if (value && value != "") {
      if (isList) {;
        let rank = 0;
        let items = value.split(",");
        items.forEach(item => {
          rank += containsAnyKeyword(keywordList, item);

          // If an exact phrase was found, add more rank depending on the number of words
          // console.log(keywords.replace(/\s/, ',').split(',').length >= 1)
          if (keywordList.length >= 1) {
            // console.log("looking for an exact phrase match")
            if (item.toLowerCase().indexOf(keywords.toLowerCase()) >= 0) {
              // console.log("***** exact phrase match *****")
              rank += (10000 * keywordList.length)
            }
          }
        })
        return rank;
      } else {
        let rank = containsAnyKeyword(keywordList, value);
        // If an exact phrase was found, add more rank depending on the number of words
        // console.log(keywords.replace(/\s/, ',').split(',').length >= 1)
        if (keywordList.length >= 1) {
          // console.log("looking for an exact phrase match")
          if (value.toLowerCase().indexOf(keywords.toLowerCase()) >= 0) {
            // console.log("***** exact phrase match *****")
            rank += (10000 * keywordList.length)
          }
        }
        return rank;
      }
    } else {
      return 0;
    }
  }
  
  function getMatches(keywords) {
    var matches = [];
    var rank;

    var keywordList = getKeywordList(keywords);
    if (keywordList.filter) keywordList = keywordList.filter(function(keyword) {
      return keyword.toLowerCase() != "and" && keyword.toLowerCase() != "the" && keyword.toLowerCase() != "la";
    })
    for (var index = 0; index < items.length; index++) {
      rank = containsAnyKeyword(keywordList, items[index].innerHTML);

      // If an exact phrase was found, add more rank depending on the number of words
      // console.log(keywords.replace(/\s/, ',').split(',').length >= 1)
      if (keywordList.length >= 1) {
        // console.log("looking for an exact phrase match")
        if (items[index].innerHTML.toLowerCase().indexOf(keywords.toLowerCase()) >= 0) {
          // console.log("***** exact phrase match *****")
          rank += (10000 * keywordList.length)
        }
      }

      // Add a little rank for a match by data attribute
      rank += dataAttributeContainsMatch(items[index], "data-project_areas", keywordList, true);
      rank += dataAttributeContainsMatch(items[index], "data-project_collaborators", keywordList, true);
      rank += dataAttributeContainsMatch(items[index], "data-category_metrics", keywordList, true);
      rank += dataAttributeContainsMatch(items[index], "data-organization_activity", keywordList);
      rank += dataAttributeContainsMatch(items[index], "data-project_proposal_description", keywordList);
      rank += dataAttributeContainsMatch(items[index], "data-project_measure", keywordList);
      rank += dataAttributeContainsMatch(items[index], "data-project_proposal_best_place", keywordList);
      rank += dataAttributeContainsMatch(items[index], "data-organization_description", keywordList);

      if (rank > 0) {
        matches.push({
          item: items[index],
          rank: rank
        });
      }
    }

    return matches;
  }
  
  // var fragment = document.createDocumentFragment();
  var items = projectList.getElementsByTagName('script');
  var matches = getMatches(keywords);

  // SHIM: If no matches were found, try an exact phrase search
  // if (matches.length <= 0) {
    var exactPhrase = `"${keywords}"`;
    matches = matches.concat(getMatches(exactPhrase));
  // }

  matches = shuffle(matches);

  var previousMatches = {}
  function onlyUniqueMatches(nextMatch) {
    var key = nextMatch.item.innerHTML
    if (!previousMatches[key]) {
      previousMatches[key] = nextMatch
      return true;
    } else {
      // SHIM: Use the highest rank among duplicates
      if (previousMatches[key].rank < nextMatch.rank) {
        previousMatches[key].rank = nextMatch.rank;
      }
    }
  }

  matches = matches.filter( onlyUniqueMatches );

  matches.sort(function (a, b) {
    // a is less than b by some ordering criterion
    if (a.rank < b.rank) {
      return -1;
    }
    // a is greater than b by the ordering criterion
    if (a.rank > b.rank) {
      return 1;
    }
    // a must be equal to b
    return 0;
  });

  matches = matches.reverse();
  console.dir({ matches });

  for (var index = 0; index < matches.length; index++) {
     projectList.insertAdjacentHTML('beforeend', matches[index].item.innerHTML);
  }

  var projectCount = document.getElementById('project-count');
  var projectCountAreIs = document.getElementById('project-count-are-is');
  var projectCountProjects = document.getElementById('project-count-projects');
  if (projectCount) projectCount.innerText = projectList.getElementsByTagName('li').length;
  if (projectCountAreIs) projectCountAreIs.innerText = projectList.getElementsByTagName('li').length === 1 ? 'is' : 'are';
  if (projectCountProjects) projectCountProjects.innerText = projectList.getElementsByTagName('li').length === 1 ? 'project' : 'projects';

  //projectList.appendChild(fragment);

})();
</script>
{% endif %}


{% endif %}



<!-- <script async src="/api/connect.js"></script>
<script async src="/api/create.js"></script>
<script async src="/api/learn.js"></script>
<script async src="/api/live.js"></script>
<script async src="/api/play.js"></script>

<script async src="/assets/js/search.js"></script> -->

<script>
(function() {
  var key = 'scrollPositionOnLastProjectListPage';
  // console.log('localStorage.getItem(key): ' + localStorage.getItem(key));
  if (localStorage.getItem(key)) {
    window.scrollTo(0, localStorage.getItem(key));
    localStorage.removeItem(key);
  }
})();
</script>

{% unless page.is_search_results %}
<script>
(function() {
  if (!document.body.querySelector || !document.body.querySelectorAll) return

  // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }

  function randomize(selector) {
    var items = document.querySelectorAll(selector)
    if (items.length < 1) return

    var nextItem
    var parent = items[0].parentNode

    for (var index = 0; index < items.length; index++) {

      // Get a random item
      nextItem = items[getRandomInt(items.length)]

      // Move it before the first item
      parent.removeChild(nextItem)
      // console.dir(nextItem)
      // console.dir(items)
      parent.insertBefore(nextItem, document.querySelector(selector))
    }
  }

  randomize('.proposals li')
})();
</script>
{% endunless %}

<script async src="/assets/js/scroll-into-view.js?v={{ site.version }}"></script>

<script src="/assets/js/intersection-observer.js"></script>
<script src="/assets/js/lazy-images.js"></script>
