---
layout: default
---

<h1 style="color: white">Entries<!-- / <strong style="color: white">{{ page.category }}</strong>--></h1>

{% comment %}
<style>
  {% for i in (1..100) %}
  .proposals li:nth-child({{ i }}), {
    order: var(--order-{{ i }});
  }
  {% endfor %}
</style>
<script>
(function() {
  function getRandomOrder() {
    return (Math.floor(Math.random() * 100) + 1) - 50;
  }
  {% for i in (1..100) %}
  document.documentElement.style.setProperty('--order-{{ i }}', getRandomOrder());
  {% endfor %}
})();
</script>
{% endcomment %}

{% unless page.is_search_results %}
<script>
(function() {
  function getRandomOrder() {
    return (Math.floor(Math.random() * 100) + 1) - 50;
  }
  for (var index = 0; index < 100; index++) {
    document.documentElement.style.setProperty('--order-' + index, getRandomOrder());
  }
})();
</script>
{% endunless %}

{% comment %}
<div class="standard-figure has-caption header-figure has-caption-details">
  <div class="mask"></div>
  <img style="filter: grayscale(100%); object-position: {% if page.category == 'create' or page.category == 'learn' or page.category == 'play' %}center{% else %}bottom{% endif %}" src="/assets/images/goals/384-wide/{{ page.category }}.jpg" srcset="/assets/images/goals/384-wide/{{ page.category }}.jpg 384w, /assets/images/goals/512-wide/{{ page.category }}.jpg 512w, /assets/images/goals/768-wide/{{ page.category }}.jpg 768w, /assets/images/goals/1024-wide/{{ page.category }}.jpg 1024w, /assets/images/goals/1536-wide/{{ page.category }}.jpg 1536w, /assets/images/goals/2048-wide/{{ page.category }}.jpg 2048w" sizes="100vw" alt="" />
  <div class="caption" style="padding-top: 0; padding-bottom: 0;">
    <div>
      <!-- <h1 style="color: var(--primary-color, rgb(237, 59, 136))">The <strong>proposals</strong><br />that will shape LA</h1> -->
      <h1 style="color: var(--primary-color, rgb(237, 59, 136))">The <strong>ideas</strong> that will shape how we <strong>{{ page.category }}</strong></h1>
      {% if site.phase >= 4 %}
      <!--
      <form action="/proposals/" method="get" style="text-align: center; margin-top: 3em;">
        <label>
          <span style="position: absolute; left: -9999px">Keywords</span>
          <input type="search" name="keywords" style="border-color: transparent;" />
        </label>
        <button type="submit">Search</button>
      </form>
      -->
      {% endif %}
    </div>
  </div>
</div>
{% endcomment %}

<!--
<h1 style="color: white">The <strong style="color: var(--secondary-color, inherit)">entries</strong><br />that will shape LA</h1>
-->

<!-- <h1 style="margin-bottom: 0">Entries for <strong style="color: white">{{ page.category }}</strong></h1>


 -->

{% if site.phase >= 4 %}
<form class="search" action="/search/#projects" method="get" id="search">
  <label>
    <span style="position: absolute; left: -9999px">Keywords</span>
    <input type="search" name="keywords" />
  </label>
  <button type="submit">Search</button>
</form>
{% endif %}


<script>
/*(function() {
  if (!document.body.querySelector) return;

  var form = document.getElementById('search');
  var field = form.querySelector('input[name="keywords"]');

  if (form && field) {
    form.addEventListener('submit', function(e) {

      console.log('searching…');

      // var results = window._activation_la2050.search(field.value);
      // console.dir(results);

      e.preventDefault();
    });

    form.style.display = "block";
  }

})();*/
</script>

<style>
.search {
  text-align: center;
  grid-column: 1 / -1;
  background: var(--primary-color, black);
  color: white;
  margin: -1.5em -1.5em 0;
  padding: 0 1.5em 3em;
}
.search label,
.search button {
  font-size: 0.875em;
}
.search input,
.search button {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
}
.search input {
  color: black;
}
.search button {
  color: var(--primary-color, inherit);
  background-color: rgba(255, 255, 255, 0.9);
}
.search input:focus,
.search button:hover,
.search button:active,
.search button:focus {
  background-color: white;
}
@media (max-width: 50em) {
  .search input {
    width: 100% !important;
    max-width: none;
  }
  .search button {
    display: block;
    margin-top: 0.375em;
    width: 100%;
  } 
}
.search label {
  margin-right: 0.25em;
}
@media (min-width: 40em) {
  .search {
    margin: -4.5em -4.5em 0;
    padding: 0 4.5em 6em;
  }
  .search input[type="search"] {
    width: 25em;
  }
}
@media (min-width: 70em) { /* @wide-enough-for-header-grid */
  .search {
    /*margin-top: -1.5em;*/
  }
}

</style>
<style>
@media (min-width: 70em) {
  .header-figure.has-caption.has-caption-details h1 {
    top: 24rem;
    padding-right: 3rem;
  }
/*  #goals .navigation .action-container {
    margin-top: -9em;
    position: relative;
    z-index: 9;
  }*/
/*  #goals .navigation .action-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 9em;
    z-index: 9;
  }
  #goals .navigation .action-container ul.action {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
  }*/
}
</style>

{% if site.phase < 4 %}

<div class="introduction" markdown="1">
The proposals will appear here on <strong>April 9, 2018</strong>.
</div>

{% else %}

<section class="goals" id="projects">

<div class="navigation"><div markdown="1">

<!--
## Browse by Goal
-->

<div class="action-container">
<ul class="action">
  <li class="blueberry"><a href="/learn/#projects"{% if page.category == 'learn' %} class="active"{% endif %}>Learn</a></li>
  <li class="banana"><a href="/create/#projects"{% if page.category == 'create' %} class="active"{% endif %}>Create</a></li>
  <li class="strawberry"><a href="/play/#projects"{% if page.category == 'play' %} class="active"{% endif %}>Play</a></li>
  <li class="tangerine"><a href="/connect/#projects"{% if page.category == 'connect' %} class="active"{% endif %}>Connect</a></li>
  <li class="lime"><a href="/live/#projects"{% if page.category == 'live' %} class="active"{% endif %}>Live</a></li>
</ul>
</div>
{% unless page.is_search_results %}
{% endunless %}

{% if page.category %}
{% assign data_collection = site.collections | where: "label", page.category | first %}
{% assign data_list = data_collection.docs %}

<p class="count" style="margin-top: 3em; margin-left: auto; margin-right: auto; margin-bottom: 4.5em;">There are <strong style="color: var(--primary-color, inherit)">{{ data_list.size }}</strong> projects in the <strong style="color: var(--primary-color, inherit); text-transform: uppercase;">{{ page.category }}</strong> category.</p>


{% else %}

{% comment %}
https://stackoverflow.com/questions/42475187/jekyll-assign-concat-in-a-loop
{% endcomment %}

{% assign data_collection = site.collections | where: "label", "create" | first %}
{% assign data_list = data_collection.docs %}

{% assign data_collection = site.collections | where: "label", "connect" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% assign data_collection = site.collections | where: "label", "learn" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% assign data_collection = site.collections | where: "label", "live" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}

{% assign data_collection = site.collections | where: "label", "play" | first %}
{% for item in data_collection.docs %}
  {% assign data_list = data_list | push: item %}
{% endfor %}


<p class="count" style="margin-top: 3em; margin-left: auto; margin-right: auto; margin-bottom: 4.5em;">You searched for <strong style="color: var(--primary-color, inherit)" id="keywords"></strong>. There <span id="project-count-are-is">are</span> <strong style="color: var(--primary-color, inherit)" id="project-count">{{ data_list.size }}</strong> matching <span id="project-count-projects">projects</span> in all categories.</p>


{% endif %}

</div>

</div></section>


<ul class="proposals" id="project-list">

  {% for data in data_list %}
  {% if page.is_search_results %}<script type="text/template">{% endif %}
  <li class="{{ data.category }}">
    <a href="{{ data.uri }}">
      <span class="image"><img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/{{ data['project_image'] }}" alt="" width="540" height="428" /></span>
      <p class="organization">{{ data['organization_name'] }}</p>
      <h3>{{ data['title'] }}</h3>
      <p class="description">{{ data['project_description'] }}</p>
    </a>
  </li>
  {% if page.is_search_results %}</script>{% endif %}
  {% endfor %}

</ul>


<script>
(function() {
  if (!document.body.querySelector || !document.createDocumentFragment) return;

  var form = document.getElementById('search');
  var field = form.querySelector('input[name="keywords"]');
  var projectList = document.getElementById('project-list');

  // http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    var name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var keywords = getParameterByName('keywords');
  if (!keywords || !form || !field || !projectList) return; // TODO: Show an error message?

  field.value = keywords;
  var keywordsIndicator = document.getElementById('keywords');
  if (keywordsIndicator) keywordsIndicator.textContent = keywords;

  function containsKeyword(keyword, string) {
    if (!keyword || keyword == '' || keyword.length < 2) return;

    keyword = keyword.toLowerCase();

    var rank = 0;

    // Keyword as part of another word gets one point
    if (string.indexOf(keyword) >= 0) rank++;

    // Keyword used as a word by itself gets one point
    // TODO: Handle punctuation or HTML elements, before or after the keyword
    if (string.indexOf(' ' + keyword + ' ') >= 0) rank++;
    if (string.startsWith(keyword + ' ')) rank++;
    if (string.endsWith(' ' + keyword)) rank++;

    // Multiple instances of keyword add additional points
    // KUDOS: https://stackoverflow.com/questions/881085/count-the-number-of-occurrences-of-a-character-in-a-string-in-javascript
    var numberOfMatches = (string.match(new RegExp(keyword, "g")) || []).length;
    if (numberOfMatches > 2) rank += (numberOfMatches - 1);

    return rank;
  }

  function containsAnyKeyword(keywordList, string) {
    string = string.toLowerCase();
    var rank = 0;
    for (var index = 0; index < keywordList.length; index++) {
      rank += containsKeyword(keywordList[index], string);
    }
    return rank;
  }

  // function containsAllKeywords(keywordList, string) {
  //   for (var index = 0; index < keywordList.length; index++) {
  //     if (!containsKeyword(keywordList[index], string)) {
  //       return false;
  //     }
  //   }
  //   return true;
  // }

// https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array#2450976
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}


  // var fragment = document.createDocumentFragment();
  var items = projectList.getElementsByTagName('script');
  var matches = [];
  for (var index = 0; index < items.length; index++) {
    var keywordList = keywords.replace(/\s/, ',').split(',');
    var rank = containsAnyKeyword(keywordList, items[index].innerHTML);
    if (rank > 0) {
      matches.push({
        item: items[index],
        rank: rank
      });
    }
  }

  matches = shuffle(matches);

  matches.sort(function (a, b) {
    // a is less than b by some ordering criterion
    if (a.rank < b.rank) {
      return -1;
    }
    // a is greater than b by the ordering criterion
    if (a.rank > b.rank) {
      return 1;
    }
    // a must be equal to b
    return 0;
  });

  matches = matches.reverse();

  for (var index = 0; index < matches.length; index++) {
     projectList.insertAdjacentHTML('beforeend', matches[index].item.innerHTML);
  }

  var projectCount = document.getElementById('project-count');
  var projectCountAreIs = document.getElementById('project-count-are-is');
  var projectCountProjects = document.getElementById('project-count-projects');
  if (projectCount) projectCount.innerText = projectList.getElementsByTagName('li').length;
  if (projectCountAreIs) projectCountAreIs.innerText = projectList.getElementsByTagName('li').length === 1 ? 'is' : 'are';
  if (projectCountProjects) projectCountProjects.innerText = projectList.getElementsByTagName('li').length === 1 ? 'project' : 'projects';

  //projectList.appendChild(fragment);

})();
</script>

{% endif %}

<section class="goals" style="margin-bottom: 9em">

<div class="navigation"><div>

<!-- <h2>Browse categories</h2> -->

<ul class="action">
  <li class="blueberry"><a href="/learn/#projects"{% if page.category == 'learn' %} class="active"{% endif %}>Learn</a></li>
  <li class="banana"><a href="/create/#projects"{% if page.category == 'create' %} class="active"{% endif %}>Create</a></li>
  <li class="strawberry"><a href="/play/#projects"{% if page.category == 'play' %} class="active"{% endif %}>Play</a></li>
  <li class="tangerine"><a href="/connect/#projects"{% if page.category == 'connect' %} class="active"{% endif %}>Connect</a></li>
  <li class="lime"><a href="/live/#projects"{% if page.category == 'live' %} class="active"{% endif %}>Live</a></li>
</ul>

</div></div>

</section>

<!-- <script async src="/api/connect.js"></script>
<script async src="/api/create.js"></script>
<script async src="/api/learn.js"></script>
<script async src="/api/live.js"></script>
<script async src="/api/play.js"></script>

<script async src="/assets/js/search.js"></script> -->
