---
layout: default
---

<div class="standard-figure has-caption header-figure has-caption-details">
  <div class="mask"></div>
  <img style="filter: grayscale(100%); object-position: center" src="/assets/images/goals/384-wide/{{ page.category }}.jpg" srcset="/assets/images/goals/384-wide/{{ page.category }}.jpg 384w, /assets/images/goals/512-wide/{{ page.category }}.jpg 512w, /assets/images/goals/768-wide/{{ page.category }}.jpg 768w, /assets/images/goals/1024-wide/{{ page.category }}.jpg 1024w, /assets/images/goals/1536-wide/{{ page.category }}.jpg 1536w, /assets/images/goals/2048-wide/{{ page.category }}.jpg 2048w" sizes="100vw" alt="" />
  <div class="caption" style="padding-top: 0; padding-bottom: 0;">
    <div>
      <!-- <h1 style="color: var(--primary-color, rgb(237, 59, 136))">The <strong>proposals</strong><br />that will shape LA</h1> -->
      <h1 style="color: var(--primary-color, rgb(237, 59, 136))">The <strong>proposals</strong> that will shape how we <strong>{{ page.category }}</strong></h1>
      {% if site.phase >= 4 %}
      <!--
      <form action="/proposals/" method="get" style="text-align: center; margin-top: 3em;">
        <label>
          <span style="position: absolute; left: -9999px">Keywords</span>
          <input type="search" name="keywords" style="border-color: transparent;" />
        </label>
        <button type="submit">Search</button>
      </form>
      -->
      {% endif %}
    </div>
  </div>
</div>

<!--
<h1 style="color: white">The <strong style="color: var(--secondary-color, inherit)">entries</strong><br />that will shape LA</h1>
-->

<!-- <h1 style="margin-bottom: 0">Entries for <strong style="color: white">{{ page.category }}</strong></h1>

<form class="proposals-search" action="/proposals/" method="get">
  <label>
    <span style="position: absolute; left: -9999px">Keywords</span>
    <input type="search" name="keywords" style="border-color: transparent;  background-color: rgba(255, 255, 255, 0.5);" />
  </label>
  <button type="submit" style="background-color: white; border-color: transparent; color: black;">Search</button>
</form>
 -->

<style>
.proposals-search {
  text-align: center;
  grid-column: 1 / -1;
  background: var(--primary-color, black);
  color: white;
  margin: 0 -1.5em 0;
  padding: 0 1.5em 3em;
  display: flex;
  justify-content: center;
}
.proposals-search label {
  margin-right: 0.25em;
}
@media (min-width: 40em) {
  .proposals-search {
    margin: 0 -3em 0;
    padding: 0 3em 6em;
  }
  .proposals-search input[type="search"] {
    width: 25em;
  }
}
@media (min-width: 70em) { /* @wide-enough-for-header-grid */
  .proposals-search {
    /*margin-top: -1.5em;*/
  }
}

</style>

{% if site.phase < 4 %}

<div class="introduction" markdown="1">
The proposals will appear here on <strong>April 9, 2018</strong>.
</div>

{% else %}

<section class="goals" id="goals">

<div class="navigation"><div markdown="1">

<!--
## Browse by Goal
-->

<ul class="action" style="max-width: none;">
  <li class="blueberry"><a href="/learn/">Learn</a></li>
  <li class="banana"><a href="/create/">Create</a></li>
  <li class="strawberry"><a href="/play/">Play</a></li>
  <li class="tangerine"><a href="/connect/">Connect</a></li>
  <li class="lime"><a href="/live/">Live</a></li>
</ul>

{% assign data_collection = site.collections | where: "label", page.category | first %}
{% assign data_list = data_collection.docs %}

<p class="count" style="margin-top: 3em; margin-left: auto; margin-right: auto">There are <strong style="color: var(--primary-color, inherit)">{{ data_list.size }}</strong> entries in the <strong style="color: var(--primary-color, inherit); text-transform: uppercase;">{{ page.category }}</strong> category.</p>

</div>

</div></section>

<ul class="proposals">

  {% for data in data_list %}
  <li>
    <article>
      <a href="{{ data.uri }}">
        <img src="https://skild-prod.s3.amazonaws.com/myla2050/images/custom540/{{ data['project_image'] }}" alt="" width="540" height="428" />
        <div class="content">
          <h3>{{ data['title'] }}</h3>
          <p class="organization">{{ data['organization_name'] }}</p>
        </div>
      </a>
    </article>
  </li>
  {% endfor %}

</ul>

{% endif %}

<section class="goals" id="goals">

<div class="navigation"><div markdown="1">

<ul class="action" style="max-width: none;">
  <li class="blueberry"><a href="/learn/">Learn</a></li>
  <li class="banana"><a href="/create/">Create</a></li>
  <li class="strawberry"><a href="/play/">Play</a></li>
  <li class="tangerine"><a href="/connect/">Connect</a></li>
  <li class="lime"><a href="/live/">Live</a></li>
</ul>

</div></section>
